extends layout

block content
    script.
    .container-fluid
        #admins(style="display: none; width: 100px;")
            //input.form-control(v-model='search', placeholder='Filter storys by name or age')
            table.table.table-bordered

                colgroup
                    col(v-for="column in columns" v-bind:style="column.color ? {'background-color':column.color} : {}")

                thead
                    tr(style="overflow: hidden")
                        th(v-for="column in columns")
                            a(v-on:click='sortBy(column.id,column.sortable)')
                                | {{ column.name }}
                tbody
                    tr(v-for="admin,index in filteredEvents" v-bind:style="getStyle(admin.changed)"  )
                        td {{ index+1 }}
                        td {{ admin.id }}
                        td
                            select(v-model='admin.role' v-on:change="changed(admin)")
                                option(v-for='option in RoleOptions', v-bind:value='option.value')
                                    | {{ option.text }}
                        td {{ admin.email }}

                        td
                            button.btn.btn-info(type='button',v-on:click="save(admin)")
                                span.glyphicon.glyphicon-save

                        td
                            button.btn.btn-danger(type='button',v-on:click="remove(admin)")
                                span.glyphicon.glyphicon-remove

    script(src = "/javascripts/vue.js")
    script.
        var setupAdmins = !{JSON.stringify(admins)}
        for (var i in setupAdmins){
            setupAdmins[i].changed = false;
        }
        new Vue({
            el: '#admins',

            data: {
                changedStyle: {
                    "background-color": "#FFFDD0"
                },
                sortKey: 'id',

                reverse: true,

                search: '',

                columns: [
                    {id: '#', name: '#', sortable: false, width: 100},
                    {id: 'id', name: 'id', sortable: true, width: 40},
                    {id: 'role', name: 'role', sortable: true, width: 100},
                    {id: 'email', name: 'email', sortable: true, width: 100, filtered: true},
                    {id: 'save', name: 'save', sortable: false},
                    {id: 'delete', name: 'delete', sortable: false},

                ],


                filter: {
                    isActive: false,
                    column: ""
                },

                admins: setupAdmins,

                options: [
                    {text: 'Yes', value: 1},
                    {text: 'No', value: 0},
                ],

                RoleOptions: [
                    {text: 'Admin', value: 'admin'},
                    {text: 'Writer', value: 'writer'},
                    {text: 'Reader', value: 'reader'},
                    {text: 'User', value: 'user'},
                ],

                optionsNega: [
                    {text: 'Yes', value: 0, color: "green"},
                    {text: 'No', value: 1, color: "color"},
                ],
                locale: [
                    {text: 'Rus', value: 'rus'},
                    {text: 'Eng', value: 'eng'},
                ],
                theme: [
                    {text: 'Light', value: 'light'},
                    {text: 'Dark', value: 'dark'},


                ],

                tags: [
                    "детектив",
                    "ужасы",
                    "мистика",
                    "триллер",
                    "на реальных событиях",
                    "романтика",
                    "комедия",
                    "драма",
                    "фэнтези",
                    "detective",
                    "horror",
                    "mystery",
                    "thriller",
                    "true admins",
                    "romance",
                    "comedy",
                    "drama",
                    "fantasy"
                ],
                rus: [
                    "детектив",
                    "ужасы",
                    "мистика",
                    "триллер",
                    "на реальных событиях",
                    "романтика",
                    "комедия",
                    "драма",
                    "фэнтези"

                ],
                eng: [
                    "detective",
                    "horror",
                    "mystery",
                    "thriller",
                    "true admins",
                    "romance",
                    "comedy",
                    "drama",
                    "fantasy"
                ]

            },

            methods: {
                sortBy: function (sortKey, sortable) {
                    if (sortable) {
                        this.reverse = (this.sortKey == sortKey) ? !this.reverse : false;

                        this.sortKey = sortKey;
                    }

                },

                filterBy(column, word) {

                    return this.admins.filter(function () {
                        if (this[column].indexOf(word) !== -1)
                            return this
                    })

                },

                save(adminModel){
                    adminModel.changed = false;
                    var self = this;
                    if (adminModel.storyId=="") adminModel.storyId = null;
                    console.log(adminModel.storyId)
                    var admin = {
                        "id": adminModel.id,

                        "data": {
                            "role": adminModel.role,


                        }
                    }

                    postApi('/admin/admins/update', JSON.stringify(admin), function () {
                        adminModel.changed = false;

                    })

                    console.log(admin)

                },
                remove(admin){

                    if (confirm("You are shure to delete admin " + admin.email)) {
                        postApi('/admin/admins/remove', JSON.stringify({id:admin.id}), function () {
                            window.location.href = '/admin/admins'
                        })
                    }
                },
                changed(admin){
                    console.log("changed")
                    admin.changed = true
                },
                getStyle(changed){
                    if (changed)return this.changedStyle
                    else return {}
                },
                getStatus(admin) {
                    if (admin.isSend == 0)return "Don't send"
                    var d = new Date();
                    d.setTime(Date.parse(admin.adminTimeAt + " GMT"));

                    var diff = new Date()-d

                    var milliseconds = diff;
                    var seconds = milliseconds / 1000;
                    var minutes = seconds / 60;
                    var hours = minutes / 60;
                    var days = hours / 24;
                    var willSend;
                    var sended;

                    if (hours < -12) return "In process started"
                    if (hours < 13) return "In process continued"
                    if (hours > 12) return "Ended"

                }


            },

            computed: {
                filteredEvents() {
                    var sortKey = this.sortKey
                    var reverse = this.reverse
                    var ret = this.admins.sort(function (a, b) {
                        if (!reverse) {
                            if (a[sortKey] > b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] < b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        } else {
                            if (a[sortKey] < b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] > b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        }
                    });
                    return ret;

                },

            },
        });
        document.getElementById("admins").style.display = ""
