extends layout

block content
    script.
        function twoDigits(d) {
            if (0 <= d && d < 10) return "0" + d.toString();
            if (-10 < d && d < 0) return "-0" + (-1 * d).toString();
            return d.toString();
        }
        Date.prototype.toMysqlFormat = function () {
            return this.getUTCFullYear() + "-" + twoDigits(1 + this.getUTCMonth()) + "-" + twoDigits(this.getUTCDate()) + " " + twoDigits(this.getUTCHours()) + ":" + twoDigits(this.getUTCMinutes()) + ":" + twoDigits(this.getUTCSeconds());
        };
        var save = function (num) {
            console.log(num)
            var id = num


            var role = document.getElementById("roleID" + num).value


            var data = {
                id: id,
                data: {
                    role:role,

                }
            }
            postApi('/admin/admins/update', JSON.stringify(data), function () {
                document.getElementById(id).style.backgroundColor = "transparent"
            })


        }

        var rowChanged = function (rowID) {

            document.getElementById(rowID).style.backgroundColor = "#FFFDD0"
        }

        var remove = function (num) {
            console.log(num)
            var id = num
            var locale = "eng"
            var push = {
                id:id,
                locale:locale
            }
            if (confirm("You are shure to delete user " + id)) {
                postApi('/admin/admins/remove', JSON.stringify(push), function () {
                    window.location.href = '/admin/admins'
                })
            }

        }


        var add = function () {
            var authorId = document.getElementById("authorId").getAttribute('value')
            var createdAt = new Date().toMysqlFormat();

            var title = "Enter the title"
            var body = "Enter the message"
            var isFree = 0
            var isSend = 0
            var locale = 'eng'
            var pushTimeAt = createdAt

            data = {
                authorId:authorId,
                createdAt:createdAt,
                title: title,
                body: body,
                isFree: isFree,
                isSend: isSend,
                locale: locale,
                pushTimeAt: pushTimeAt
            }
                var url = "/admin/admins/add"
                postApi(url,JSON.stringify({data:data}) , function () {
                    window.location.href = '/admin/admins'
                })




        }

    mixin selectOption(name, code)
        if (name === code)
            option(selected = "selected")=name
        else
            option()=name

    .container-fluid
        h1= title
        p Welcome to #{title}
        -var i = 0

        div#authorId(value="#{user.id}")
        -var back = "stories#"+(Number(storyId) -1)

        .table-responsive
            table.table.table-bordered(id="adminsTable" )
                thead
                    tr
                        //id INT AUTO_INCREMENT PRIMARY KEY, authorId int, title varchar(100), body varchar(1000), isFree Int(1), locale varchar(3), UTC int(2), type int(2), pushTimeAt datetime, createdAt datetime
                        th #
                        th id
                        th role
                        th email
                        th save
                        th delete

                tbody

                    -for ( i = admins.length-1 ; i >= 0; i--)
                        -var rowID = admins[i].id
                        -var idID = "idID"+admins[i].id
                        -var roleID = "roleID"+admins[i].id
                        -var emailID = "emailID"+admins[i].id



                        tr(id='#{rowID}' bgcolor=backgroundColor)
                            td=i+1
                            td=admins[i].id

                            td
                                input(id = "#{roleID}" value='#{admins[i].role}',size="20" onKeyUp='rowChanged("#{rowID}")')
                            td(id='#{emailID}')=admins[i].email

                            td
                                button.btn.btn-info(type='button',onclick="save(#{admins[i].id})")
                                    span.glyphicon.glyphicon-save
                            td
                                button.btn.btn-danger(type='button',onclick="remove(#{admins[i].id})")
                                    span.glyphicon.glyphicon-remove


