//
   Created by v.Triputin on 29.11.2017.
extends layout

block content
    script.
        var saveRow = function(id,url){
            var row = document.getElementById(id).cells
            var obj ={}

            for (var i=1 ; i<row.length;i++){
                if(row[i].id!="") {
                    var rowName = row[i].id;
                    var text = row[rowName].innerText;
                    if (row[rowName].children.length>0)
                        var text =row[rowName].firstChild.value

                    if (text == "null"){
                        text = null
                    }

                    obj[rowName] = text
                }
            }
            delete  obj[id]
            var data = {
                id:id,
                data:obj
            }
            postApi(url, JSON.stringify(data), function () {
                window.location.href = window.location.href
            })

        }

        var deleteRow = function (id,url) {

            if (confirm("You are shure to delete push " + id)) {
                postApi(url, JSON.stringify({id:id}), function () {
                    window.location.href = window.location.href
                })
            }
        }

    mixin createTable(source,notInputs,hide,saveButton,deleteButton,saveUrl,deleteUrl)

        -if (source.length>0)
        -var index = 1
        table.table.table-bordered(id = "pushesTable")
            thead
            tr
                th #
                -for (var i in source[0])
                th=i
                -if (saveButton)
                th save
                -if (deleteButton)
                th delete
            tbody

            -for ( var i = source.length-1 ; i >= 0; i--)
            -var id = source[i].id
            tr(id="#{id}")
            td=index
            -index+=1
            -for (var j in source[i])
            -var curvar="null"
            -if(source[i][j]!=null)
            -curvar=source[i][j]
            - if (notInputs.indexOf(j)!=-1)
            td(id=j)=curvar
            -else
            td(id=j)
                input(id = "#{j}",size ='#{Math.min(curvar.toString().length,30)}', value='#{curvar}', onKeyUp='rowChanged(\"#{id}\")')

            -if (saveButton)
            td
                button.btn.btn-info(type='button',onclick="saveRow(\"#{id}\",\"#{saveUrl}\")")
            span.glyphicon.glyphicon-save
            -if (deleteButton)
            td
            button.btn.btn-danger(type='button',onclick="deleteRow(\"#{id}\",\"#{deleteUrl}\")")
            span.glyphicon.glyphicon-remove


    .container-fluid

        -var maxlink = "/admin/episodes?id="+problems.distances.maxEp

        //-console.log(JSON.stringify(stories))

        -var imageProblems = problems.image_problems
            -if (imageProblems.length>0)
                ul
                    h3 Image Problems
                    -for (var ip in imageProblems)
                        -var link = "/admin/episodes?id="+imageProblems[ip].id
                        li
                            a(href="#{link}") "#{imageProblems[ip].name}" StoryId "#{imageProblems[ip].id}"
                            |  With images: "#{JSON.stringify(imageProblems[ip].images)}"
        -var episodeProblems = problems.episode_problems
            -if (episodeProblems.length>0)
                ul
                    h3 Episode Problems
                    -for (var ip in episodeProblems)
                        -var link = "/admin/episodes?id="+episodeProblems[ip].id
                        li
                            a(href="#{link}") "#{episodeProblems[ip].name}" StoryId "#{episodeProblems[ip].id}"
                            |  With episodes: "#{JSON.stringify(episodeProblems[ip].episodes)}"
                //+createTable(stories,inputs=["id"],[],true,true,"/api/users/update","/api/users/remove")

        p Average episode distance beetween breakpoints: #{problems.distances.avSum}
        p Max episode distance beetween breakpoints: #{problems.distances.maxVal} in episode
            a(href="#{maxLink}")   #{problems.distances.maxEp}
        -var bigEpisodes = problems.distances.bigEp
        -if (bigEpisodes.length>0)
            ul
                h3 BigEpisodes
                -for (var ip in bigEpisodes)
                    -var link = "/admin/episodes?id="+bigEpisodes[ip].storyId
                    -var linkEp = "/admin/episode?id="+bigEpisodes[ip].epId
                    li
                        a(href="#{link}") #{bigEpisodes[ip].storyName}
                            a(href="#{linkEp}")   Episode Id #{bigEpisodes[ip].epId}
                            |  length: #{JSON.stringify(bigEpisodes[ip].lengths)}