doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111269084-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-111269084-1');
        title=title
        link(rel='stylesheet', href='1.css')
        meta(name='viewport', content='width=device-width')
    body
        .main
            .main-content
                h1.main-content-header CHAT STORY CONTEST
                a(href='https://docs.google.com/spreadsheets/d/1b41lm48cbLic1gsJr6KwrP_1qwZm1q7rVK5uop8Tuz4/edit#gid=0')
                    .main-button FORMAT EXAMPLE
                div
                    h2.main-second-header Prizes

                    h4 One First Place Winner will receive:
                    ul(style="list-style-position:inside")
                        li MacBook Air
                        li App Store & iTunes Gift Card $15 /or Google Play $15 Gift Code
                        li 1-year free access to Keek! App (39.99$)

                    h4 Best 20 Chat Stories will receive:
                    ul(style="list-style-position:inside")
                        li App Store & iTunes Gift Card $15 /or Google Play $15 Gift Code
                        li 1-year free access to Keek! App (39.99$)

                    h4 First 50 Participants will receive:
                    ul(style="list-style-position:inside")
                        li 1-year free access to Keek! App (39.99$)
                    br
                div
                    img(src="images/contest.jpg" style="max-width: 100%")

                div
                    h2.main-third-header GENERAL Requirements
                    h3 Instruction:
                    ul(style="list-style-position:inside")
                        li You can write a story based on real life situations or imagine your own one. Choose genre you would like to write - Mystery. Thriller. Detective. Honnor, Real-life, Sci-fi, Romantic.
                        li A story must be written in the form of chat messages (there can be two or more people in the dialog)
                        li Write at least 200 messages
                        li Write story in the proposed form
                        li Don't forget to give a name to your story and write the Author's name (it can be pseudonym or your own name).
                        li Left your contact information in order to get prizes if you become a winner.
                    p
                        | *Your story must be original, in English, unpublished and unproduced, not accepted by other publisher or producer.
                    p LOGIC WAY TECHNOLOGIES LP get exclusive rights on publishing contest stories in Keek! App.
                    p
                        | All chat stories must be written in the
                        a(href='https://docs.google.com/spreadsheets/d/1b41lm48cbLic1gsJr6KwrP_1qwZm1q7rVK5uop8Tuz4/edit#gid=0')  specific form
                    p
                        | BE SURE OF YOUR MESSAGES COUNT! Entries exceeding the messages limits will be disqualified.
                    p Participants can take part in the contest from any country.

                div
                    h2.main-third-header Step by step to write a story
                    h4 Steps to write a story:
                    ol(style="list-style-position:inside")
                        li Read General Requirements
                        li See the
                            a(href='https://docs.google.com/spreadsheets/d/1b41lm48cbLic1gsJr6KwrP_1qwZm1q7rVK5uop8Tuz4/edit#gid=0')  example
                            |  of story format
                        li Create your excel file online at
                            a(href='http://docs.google.com/')  http://docs.google.com/
                        li Share your doc to this email:
                            a(href='mailto:keekappcom@gmail.com')  keekappcom@gmail.com
                        li Await till the challenge ends. The winners will be listed on February, 10 2018 at
                            a(href="/")  www.keekapp.com


