extends layout

block header
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/textToJsonConverter.js')
    script.
        var JSONStory = JSON.stringify(!{episode.textjson},null,'\t')
        window.onload = function () {
            document.getElementById("textInput").value = convertJsonToText(JSONStory)
            document.getElementById("jsonOutput").value = JSONStory
        }
        convertToJson = function () {
            var text = document.getElementById('textInput').value;
            document.getElementById('jsonOutput').value = convertTextToJson(text)
        }

        convertToText = function () {
            var textJson = document.getElementById('jsonOutput').value;
            document.getElementById('textInput').value = convertJsonToText(textJson)
        }

        var rowChanged = function (rowID) {
            console.log(rowID)
            document.getElementById(rowID).style.backgroundColor = "#FFFDD0"
        }

        var saveText = function(episodeId){
            var textJSON = "";
            var jsonObj = {};
            var textInput = document.getElementById("textInput").value;
            var textJSON = convertTextToJson(textInput)
            try {
                jsonObj = JSON.parse(textJSON);
                textJSON = JSON.stringify(jsonObj);

            } catch (err) {
                alert("Invalid Text",textJSON)
                return
            }
            saveEpisode(episodeId, textJSON)
        };

        var saveJson = function (episodeId) {
            var textJSON = "";
            var jsonObj = {};
            try {
                textJSON = document.getElementById("jsonOutput").value;

                jsonObj = JSON.parse(textJSON);
                textJSON = JSON.stringify(jsonObj);

            } catch (err) {
                alert("Invalid Json")
                return
            }
            saveEpisode(episodeId, textJSON)
        };

        var saveEpisode = function (episodeId,textJson) {

            var id = episodeId
            var storyId = document.getElementById("storyID").getAttribute('value')
            console.log(storyId)
            var episode = {
                "id": id,
                "data": {
                    "textjson": textJson
                }
            }
            postApi('/admin/updateepisode', JSON.stringify(episode),function () {

                //update colors
                postApi('/admin/recalculatecolorsforstory', JSON.stringify({id: storyId}), function () {
                    var back = "episodes?id=" + storyId
                    window.location.href = back
                })


            })

        }


block content
    .container-fluid
        div(id="storyID" value=episode.storyId)
        -var back = "episodes?id=" + episode.storyId

            a(href="#{back}" class="btn btn-warning")
                span.glyphicon.glyphicon-arrow-left
                =' Back'
            =' '
            button(class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
                span.glyphicon.glyphicon-chevron-down
                =' Description'
            b  Welcome to #{title} id= #{episode.id}
            #collapseExample.collapse

                h4 Условные обозначения для текста:
                ul
                    li # - имя
                    li ## - системное сообщение
                    li % - печатает
                    li %% - картинка
                h4 Разветвления
                ul
                    li ###goto#id1,id2 разветвления истрии где id1,id2 - название блоков
                    li ###id1 - начало нового блока, где id1 - его название
                p Все системные символы ставятся строго вначале строки
                p Для нахождения ошибки в JSON можно воспользоваться&nbsp;
                    a(href = "https://jsonlint.com/") json валидатором
            br
            br

        .row
            .col-lg-6
                .panel.panel-default
                    .panel-heading(style='text-align: right')

                        ='Input Text '
                        button.btn.btn-info(type='button',onclick="saveText(#{episode.id})")
                            span.glyphicon.glyphicon-save
                        =' '
                        button( type="button" data-toggle="button" class="btn btn-primary", onclick='convertToJson()' ) ConvertToJson&nbsp;
                            span.glyphicon.glyphicon-arrow-right

                    .panel-body
                        div.input
                            textarea(name="description" id="textInput", class="form-control", style="min-width: 100%; resize: none", rows=33, spellcheck=true).
            .col-lg-6
                .panel.panel-default
                    .panel-heading
                        button(type="button" data-toggle="button" class="btn btn-primary", onclick='convertToText()' )
                            span.glyphicon.glyphicon-arrow-left
                            =' ConvertToText'
                        =' '
                        button.btn.btn-info(type='button',onclick="saveJson(#{episode.id})")
                            span.glyphicon.glyphicon-save
                        =' Input JSON'

                    .panel-body
                        div.input
                            textarea(name="description" id="jsonOutput", class="form-control", style="min-width: 100%; resize: none", rows=33, spellcheck=true).
