extends layout

block content
    script.
        var rowChanged = function (rowID) {

            document.getElementById(rowID).style.backgroundColor = "#FFFDD0"
        }
        
    .container-fluid
        -var i = 0
        div(id="storyID" value=storyId)
        -var back = "stories#"+(Number(storyId))
        a(href="#{back}" class="btn btn-warning")
            span.glyphicon.glyphicon-arrow-left
            =' Back to all stories'
        br
        br
        #episodesTable(style="display: none")
            //input.form-control(v-model='search', placeholder='Filter episodes by name or age')
            table.table.table-bordered(style="width: 1000px")

                colgroup
                    col(v-for="column in columns" v-bind:style="column.color ? {'background-color':column.color} : {}")

                thead
                    tr(style="overflow: hidden")
                        th(v-for="column in columns")
                            a(v-on:click='sortBy(column.id,column.sortable)')
                                | {{ column.name }}
                tbody
                    tr(v-for="episode,index in filteredEvents" v-bind:style="getStyle(episode.changed)"  )
                        td {{ index+1 }}
                        td {{ episode.id }}
                        td
                            input(v-model="episode.number" placeholder="input text" v-on:change="EpisodeChanged(episode)" size="2")

                        td {{ episode.lengths.length>0? 'ok ': 'false ' }}
                            a.btn.btn-success(role='button',v-bind:href="'episode?id='+episode.id")
                                span.glyphicon.glyphicon-pencil(style="font-size: 0.8em;")
                        td
                            input(v-model="episode.description" placeholder="input text" v-on:change="EpisodeChanged(episode)" size="15")
                        td {{ episode.lengths }}
                        td {{ episode.availableAt }}

                        td
                            button.btn.btn-info(type='button',v-on:click="save(episode)")
                                span.glyphicon.glyphicon-save

                        td
                            button.btn.btn-danger(type='button',v-on:click="remove(episode)")
                                span.glyphicon.glyphicon-remove
            button.btn.btn-info(type='button',v-on:click="addEpisode(episodes.length)")
                span.glyphicon.glyphicon-plus
            h4(v-if=('images.length>0')) Images:

            .card-deck(style='display: inline;')
                .card(v-for="image,index in images"  style="float:left; margin:5px;")
                    p EpisodeId {{image.episodeId}}
                    p {{image.image}}
                    label(v-bind:for = 'index' style='cursor:pointer')
                        img(v-bind:src='image.imageSrc', alt='Not found' style="height:200px").img-thumbnail
                    input(v-bind:id = 'index',type="file",  name="imgUploader"  style="display: none" v-on:change="changePhoto($event,image)")

    script(src = "/javascripts/vue.js")
    script.
       var extend = function (a, b)  {
            a.push.apply(a, b)
        }
        var setupEpisodes = !{JSON.stringify(episodes)}
        var storyId = !{JSON.stringify(storyId)}


        var getLengths = function (messages) {
            var lengths = []
            var curlength = 0;
            for (var index in messages) {
                curlength += 1;
                var message = messages[index]
                if (message.breakpoint) {
                    lengths.push(curlength)
                    curlength = 0;
                }
            }
            if (curlength>0) lengths.push(curlength);
            return lengths;
        }

        var getImages = function (epId,messages) {
            var images = []
            for (var index in messages){
                var message = messages[index]
                if(message.image){
                    images.push({
                        epId:epId,
                        image:message.image,
                        imageSrc: "/content/images/"+storyId+"/"+message.image
                    })
                }
            }
            return images;
        }

        var images = []
        for (var i in setupEpisodes) {
            //parce textJson

            setupEpisodes[i].textjson = JSON.parse(setupEpisodes[i].textjson)
            setupEpisodes[i].changed=false;
            extend(images,getImages(setupEpisodes[i].id,setupEpisodes[i].textjson.messages))
            var lengths = getLengths(setupEpisodes[i].textjson.messages)

            if (setupEpisodes[i].textjson.blocks) {
                for (var bindex in setupEpisodes[i].textjson.blocks) {

                    //images
                    var block = setupEpisodes[i].textjson.blocks[bindex]
                    extend(images, getImages(setupEpisodes[i].id,block.messages))

                    //lengths
                    var curLengths = getLengths(block.messages)
                    lengths[lengths.length - 1]+= curLengths[0]
                    curLengths = curLengths.splice(1,curLengths.length)
                    extend(lengths,curLengths)

                }
            }
            setupEpisodes[i].lengths = lengths;

        }
        new Vue({
            el: '#episodesTable',

            data: {
                changedStyle: {
                    "background-color": "#FFFDD0"
                },
                sortKey: 'number',

                reverse: false,
                storyId:storyId,
                search: '',

                columns: [
                    {id: '#', name: '#', sortable: false, width: 100},
                    {id: 'id', name: 'id', sortable: true, width: 10},
                    {id: 'number', name: 'number', sortable: true, width: 100, filtered: true},
                    {id: 'textJson', name: 'textJson', sortable: false, width: 100},
                    {id: 'description', name: 'description', sortable: true},
                    {id: 'lengths', name: 'lengths', sortable: true},
                    {id: 'availableAt', name: 'available', sortable: true, width: 40},
                    {id: 'save', name: 'save', sortable: false},
                    {id: 'delete', name: 'delete', sortable: false}
                ],


                filter: {
                    isActive: false,
                    column: ""
                },

                episodes: setupEpisodes,

                images: images,
                },
                methods: {
                    sortBy: function (sortKey, sortable) {
                        if (sortable) {
                            this.reverse = (this.sortKey == sortKey) ? !this.reverse : false;

                            this.sortKey = sortKey;
                        }

                    },

                    filterBy(column, word) {

                        return this.episodes.filter(function () {
                            if (this[column].indexOf(word) !== -1)
                                return this
                        })

                    },

                    save(episode){

                        var self = this;


                        var episodeUpd = {
                            "id": episode.id,

                            "data": {
                                "number": episode.number,
                                "description": episode.description
                            }
                        }

                        postApi('/api/episodes/update', JSON.stringify(episodeUpd), function () {
                            episode.changed = false;

                        })

                        console.log(admin)

                    },
                    remove(episode){
                        var self = this;
                        if (confirm("You are shure to delete episode " + episode.id)) {
                            postApi('/api/episodes/remove', JSON.stringify({id: episode.id}), function () {
                                window.location.href = 'episodes?id=' + storyId
                            })
                        }
                    },
                    EpisodeChanged(episode){
                        episode.changed = true
                    },
                    getStyle(changed){
                        if (changed)return this.changedStyle
                        else return {}
                    },
                    changePhoto(event, image){
                        var file = event.target.files[0]
                        uploadFile(file, function (fileName) {
                            image.imageSrc = '/storage/' + fileName
                        },image.imageSrc)
                    },
                    addEpisode(index){
                        if (this.storyId) {
                            console.log(this.storyId)
                            var newEpisode = {
                                number: index,
                                storyId: storyId,
                                description: "Episode " + (index + 1)
                            }
                            var url = "/api/episodes/add"
                            postApi(url, JSON.stringify(newEpisode), function () {
                                window.location.href = 'episodes?id=' + storyId
                            })

                        }

                    },
                },
                computed: {
                    filteredEvents() {
                        var sortKey = this.sortKey
                        var reverse = this.reverse
                        var ret = this.episodes.sort(function (a, b) {
                            if (!reverse) {
                                if (a[sortKey] > b[sortKey]) {
                                    return 1;
                                }
                                if (a[sortKey] < b[sortKey]) {
                                    return -1;
                                }
                                return 0;
                            } else {
                                if (a[sortKey] < b[sortKey]) {
                                    return 1;
                                }
                                if (a[sortKey] > b[sortKey]) {
                                    return -1;
                                }
                                return 0;
                            }
                        });
                        return ret;

                    },

                },


        });
        document.getElementById("episodesTable").style.display = ""