extends layout

block content
    .container-fluid
        #feedbacks(style="display: none; width: 100px;")
            //input.form-control(v-model='search', placeholder='Filter storys by name or age')
            table.table.table-bordered

                colgroup
                    col(v-for="column in columns" v-bind:style="column.color ? {'background-color':column.color} : {}")

                thead
                    tr(style="overflow: hidden")
                        th(v-for="column in columns")
                            a(v-on:click='sortBy(column.id,column.sortable)')
                                | {{ column.name }}
                tbody
                    tr(v-for="feedback,index in filteredEvents" v-bind:style="getStyle(feedback.changed)"  )
                        td {{ index+1 }}
                        td {{ feedback.id }}
                        td {{ feedback.userId }}
                        td {{ feedback.story }}
                        td {{ feedback.episodeId }}
                        td(v-bind:style = '"min-width:500px"') {{ feedback.message }}
                        td {{ feedback.createdAt }}

                        td
                            button.btn.btn-danger(type='button',v-on:click="remove(feedback)")
                                span.glyphicon.glyphicon-remove
    
    script(src = "/javascripts/vue.js")
    script.
        var setupFeedbacks = !{JSON.stringify(feedbacks)}
        var setupStories = !{JSON.stringify(stories)}
        for (var i in setupFeedbacks) {
            setupFeedbacks[i].changed = false;
            var story = setupStories.find(function (obj) { return obj.id === setupFeedbacks[i].episodeId ; });
            setupFeedbacks[i].story = story ? story.name : ""
        }
        new Vue({
            el: '#feedbacks',

            data: {
                changedStyle: {
                    "background-color": "#FFFDD0"
                },
                sortKey: 'id',

                reverse: true,

                search: '',

                columns: [
                    {id: '#', name: '#', sortable: false, width: 100},
                    {id: 'id', name: 'id', sortable: true, width: 40},
                    {id: 'userId', name: 'user Id', sortable: true, width: 100},
                    {id: 'story', name: 'story', sortable: true, width: 100, filtered: true},
                    {id: 'episodeId', name: 'episode Id', sortable: true, width: 100},
                    {id: 'message', name: 'message', sortable: true,width: 800},
                    {id: 'createdAt', name: 'created At', sortable: true, width: 40},
                    {id: 'delete', name: 'delete', sortable: false, width: 40},

                ],


                filter: {
                    isActive: false,
                    column: ""
                },

                feedbacks: setupFeedbacks,

            },

            methods: {
                sortBy: function (sortKey, sortable) {
                    if (sortable) {
                        this.reverse = (this.sortKey == sortKey) ? !this.reverse : false;

                        this.sortKey = sortKey;
                    }

                },

                filterBy(column, word) {

                    return this.feedbacks.filter(function () {
                        if (this[column].indexOf(word) !== -1)
                            return this
                    })

                },


                remove(feedback){
                    var self = this
                    if (confirm("You are shure to delete feedback " + feedback.id)) {
                        postApi('/api/feedback/remove', JSON.stringify({id: feedback.id}), function () {
                            var index = findWithAttr(self.feedbacks,"id",feedback.id)
                            console.log(index)
                            self.feedbacks.splice(index,1);
                        })
                    }
                },
                changed(feedback){
                    console.log("changed")
                    feedback.changed = true
                },
                getStyle(changed){
                    if (changed)return this.changedStyle
                    else return {}
                },



            },

            computed: {
                filteredEvents() {
                    var sortKey = this.sortKey
                    var reverse = this.reverse
                    var ret = this.feedbacks.sort(function (a, b) {
                        if (!reverse) {
                            if (a[sortKey] > b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] < b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        } else {
                            if (a[sortKey] < b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] > b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        }
                    });
                    return ret;

                },

            },
        });
        document.getElementById("feedbacks").style.display = ""
