extends layout

html
block content
    script.
        var findWord = function () {


                var word=document.getElementById("Word").value


            if (word){
            window.location.href = 'findByWord?word='+word
            }

        }

    .container-fluid
        -var i = 0
        b Find Word
            =': '
            input(id='Word', onchange='findWord()',size="20",value="#{word}")
        br
        br
        .table-responsive
            table.table.table-bordered(id="storiesTable" )
                thead
                    tr
                        th #
                        th episodeId
                        th storyId
                        th description
                        th availableAt

                tbody
                    -if (episodes)
                        -for (i ; i < episodes.length; i++)

                            -var rowID = episodes[i].id
                            tr(id='#{rowID}')
                                td=i
                                td
                                    a(href="episode?id=#{episodes[i].id}")=episodes[i].id
                                td
                                    a(href="stories##{episodes[i].id}")=episodes[i].storyId
                                td=episodes[i].description
                                td=episodes[i].availableAt




