extends layoutIndex


block content
    title keek
    .hero
      .hero-body.text-center
        img(src='images/logo.png', alt='', width='300', height='300')
        h1.hero-title.display-1 Keek
        a(href='https://itunes.apple.com/us/app/keek/id1291835732?mt=8') 
           img(src='images/download.svg', alt='', width='300', height='300')
