doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='/css/bootstrap.css')
    //link(rel='stylesheet', href='/css/keek.css')
    //link(rel='stylesheet', href='/fonts/raleway.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrapTest.min.css')
    script.
        var setCookie = function (name, value, options) {
            options = options || {};

            var expires = 3600*12

            if (typeof expires == "number" && expires) {
                var d = new Date();
                d.setTime(d.getTime() + expires * 1000);
                expires = options.expires = d;
            }

            if (expires && expires.toUTCString) {
                options.expires = expires.toUTCString();
            }

            value = encodeURIComponent(value);

            var updatedCookie = name + "=" + value;

            for (var propName in options) {
                updatedCookie += "; " + propName;
                var propValue = options[propName];
                if (propValue !== true) {
                    updatedCookie += "=" + propValue;
                }
            }

            document.cookie = updatedCookie;
        }
        var getCookie = function(name) {
            var matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
        var uploadFile = function (file,callback,url) {
            console.log(file,file.name)
                var formData = new FormData();
                var xhr = new XMLHttpRequest();

                formData.append("imgUploader", file, file.name);
                if (url) {
                    formData.append("url",url)
                }
                xhr.open("POST", "/api/upload", true);

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            callback(xhr.responseText);
                        } else {
                            console.error(xhr.statusText);
                        }
                    }
                };

                xhr.send(formData);

        }
        var postApi = function (url, data, callback) {

            var xhr = new XMLHttpRequest();



            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        callback(xhr.responseText);
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };

            xhr.send(data);

        }

        var getApi = function (url, data, callback) {

            var xhr = new XMLHttpRequest();


            xhr.open("get", url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        callback(xhr.responseText);
                    } else {
                        console.error(xhr.statusText);
                    }
                }
            };

            xhr.send();

        }

        function findWithAttr(array, attr, value) {
            for (var i = 0; i < array.length; i += 1) {
                if (array[i][attr] === value) {
                    return i;
                }
            }
            return -1;
        }
    block header
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Terms
        //link(rel='stylesheet', href='/css/keek.css')
        //link(rel='stylesheet', href='/css/bootstrap.css')

        //link(rel='stylesheet', href='/fonts/raleway.css')
  body#bg
    nav.navbar.navbar-light
        .container-fluid

            div(style='display: inline-block;')
                ul.nav.navbar-nav
                    li
                        b.navbar-brand(style="width:100px") #{title}
                    li
                        a(href='/admin/stories') Stories
                    li
                        a(href='/admin/findByWord') FindByWord
                    li
                        a(href='/admin/settings') Settings
                    li
                        a(href='/admin/pushes') Pushes
                    li
                        a(href='/admin/feedbacks') Feedbacks
                    li
                        a(href='/admin/admins') Admin users
                    li
                        a(href='/admin/users') Users😬😉
                    li
                        a(href='/admin/checkStories') Check Stories
                    li
                        a(href='/storyconverter') JSON Converter

                    -if(user)

                        li
                            div.navbar-brand #{user.email}
                        li
                            a(href='/admin/logout') Logout
        block content



