doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111269084-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag()
          {dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-111269084-1');
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/keek.css')
        link(rel='stylesheet', href='fonts/raleway.css')
    body#bg
        ul.nav.mt-3.nav-light.justify-content-center
            li.nav-item
                a.nav-link(href='./') Home
            li.nav-item
                a.nav-link(href='privacy.html') Privacy
            li.nav-item
                a.nav-link.active(href='terms.html') Terms
            li.nav-item
                a.nav-link.active(href='support.html') Support

        block content
