extends layoutIndex


block content
    title Privacy
    .container.my-5.terms-body
        h3 Privacy Policy
        p.c6.c10
            span.c0
        p.c6
            span.c2 Effective date:
            span.c2.c3 10 May 2017
        p.c6.c10
            span.c0
        p.c6
            span.c2 This Privacy Policy (
            span.c5 "Policy"
            span.c2 ) describes how
            span.c2.c3 LOGIC WAY SOLUTIONS LLC ("
            span.c5.c3 keek
            span.c2.c3 ", "we", "us" or "our")
            span.c2  collects, uses, shares and protects information in relation to
            span.c5.c3 keek
            span.c5  mobile application
            span.c2 , website
            span.c2.c3  http://keekapp.com
            span.c2 , and any software provided on or in connection with
            span.c2.c3 keek
            span.c0
                | services ("Service"), and your choices about the collection and use of your information.
        p.c6
            span.c2
                | You understand and agree that the Policy applies to all visitors, users, and others who access the Service ("Users"). Using the Service Users understand and agree that
            span.c2.c3 keek
            span.c0  collects, uses, shares and protects information in relation to the Service.
        p.c6.c10
            span.c8.c13
        p.c9
            span.c8.c5 Information Collection and Use
        p.c6
            span.c0
                | While using Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email, name, phone number, postal address and other information ("Personal Information").
        p.c6
            span.c2.c3 keek
            span.c0  servers also automatically record information, including:
        p.c6
            span.c0
                | - Technical information about your mobile device or computer (browser type, operating type, the version of your operating system);
        p.c6
            span.c0 - Your computer’s Internet Protocol ("IP") address, MAC address;
        p.c6
            span.c0 - Your mobile device’s locale while the Service is running;
        p.c6
            span.c0 - Unique ID Number of your mobile device, IMEI number;
        p.c6
            span.c0
                | - User’s preferences and settings including time zone; language, privacy preferences, product preferences;
                br
                | - Referring/exit pages and URL’s, search terms;
                br
                | - How long User used Service;
        p.c6
            span.c2
                | - Number of clicks and how you interact with links on the Service;
                br
                | - The online or offline status of Service
            span.c8.c12 .
        p.c6.c10
            span.c8.c12
        p.c6
            span.c2
                | When you use a mobile device like a tablet or phone to access the Service, we may access, collect, monitor, store on your device, and/or remotely store one or more "device identifiers." Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device’s operating system or other software, or data sent to the device by
            span.c2.c3 keek.
        p.c6
            span.c0
                | A device identifier may deliver information to us or to a third-party partner about how User browses and uses the Service. Some features of the Service may not function properly if use or availability of device identifiers is impaired or disabled.
        p.c6
            span.c2.c3 keek
            span.c0
                | may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used. These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
        p.c1
            span.c0 We use collected information to:
        p.c1
            span.c0
                | a. provide personalized content and information to Users, which may include online ads or other forms of marketing;
        p.c1
            span.c0 b. provide, improve, test, and monitor the functionality of the Service;
        p.c1
            span.c0 c. develop and test new products and features;
        p.c1
            span.c0
                | d. monitor and analyze anonymized metrics, such as total number of visitors, traffic, stylization techniques, and others;
        p.c1
            span.c0 e. diagnose or fix technology problems.
        p.c1.c10
            span.c0
        p.c17
            span.c2 If User sign into the Services using Facebook account
            span.c2.c3 keek
            span.c0
                | may collect and store any information that is available via User’s Facebook account or the Facebook API, including User’s first and last name, gender, locale, list of friends, Facebook ID, profile picture and URL, list of User’s devices, email, likes, and interests that have been listed in User’s profile. Such information will be used for User registration and will only be shared with other Users who are already listed as User’s Facebook friends and already have access to the information. It may also be used to analyze usage trends and offer users certain of features or promotions that may be of particular interest to them.
        p.c1.c10
            span.c0
        p.c9
            span.c8.c5 Disclosure of User Information
        p.c1
            span.c2.c3 keek
            span.c2  will not rent or sell your information to third parties outside
            span.c2.c3 keek
            span.c2  (or the group of companies of which
            span.c2.c3 keek
            span.c0  is a part) without your consent, except as otherwise described in this Policy.
        p.c1
            span.c2.c3 keek
            span.c0
                | may share your content and information (including but not limited to, information from cookies, log files, device identifiers, location data, and usage data) with its affiliates aimed to help provide, understand, and improve the Service (including by providing analytics) and affiliates’ own services (including by providing you with better and more relevant experiences).
        p.c1
            span.c2
                | We may share your information as well as information from sources like cookies, log files, device identifiers and location data, with third-party service providers that help us provide the Service to you.
            span.c2.c3 keek
            span.c0
                | may also share certain information such as cookie data with third-party advertising partners. This information would allow third-party ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.
        p.c1
            span.c2 In the event of a merger, acquisition, bankruptcy, dissolution, liquidation of
            span.c2.c3 keek
            span.c0
                | , your personal information, collected through the Service, may be among the items sold or transferred. You will continue to own your User content. The buyer or transferee will be required to honor the commitments we have made in this Policy.
        p.c1
            span.c2
                | We may also access, preserve and share your information in response to a legal request (like a court order, subpoena, search warrant or government demand) to the extent
            span.c2.c3 keek
            span.c0
                | is legally compelled to disclose your information. We may also access, preserve and share information on good faith belief that it is necessary to detect, prevent and address fraud and other illegal activity; to protect us, you or others, including as part of investigations; and to prevent death or imminent bodily harm.
        p.c9.c10
            span.c8.c5
        p.c9(id='h.gjdgxs')
            span.c5.c8 Storing User’s Information
        p.c1
            span.c2
                | User’s information collected through the Service may be stored and processed in any country in which
            span.c2.c3 keek
            span.c0 , its affiliates or service providers maintain facilities.
        p.c1
            span.c2.c3 keek
            span.c2 , its affiliates or service providers may transfer information that 
            span.c2.c3 keek
            span.c2
                | collects about User across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the regions with laws governing data collection and use that may differ from law of the land of
            span.c2.c3 keek
            span.c2 , please note that 
            span.c2.c3 keek
            span.c0
                | may transfer information to a country and jurisdiction that does not have the same data protection laws as your jurisdiction.
        p.c1
            span.c2
                | By registering for and using the Service you consent to the transfer of information to any country in which
            span.c2.c3 keek
            span.c0
                | , its affiliates or service providers maintain facilities, and to the use and disclosure of information about you as described in this Policy.
        p.c1.c10
            span.c0
        p.c9
            span.c8.c5 Security
        p.c11
            span.c0
                | The security of your information is important to us, but remember no method of transmission over the Internet and electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security. Please be aware that email and messaging systems are not considered secure, so we recommend you against sending us personal information using these ways.
        p.c6.c10
            span.c0
        p.c9
            span.c8.c5 Children’s Privacy
        p.c1
            span.c0
                | We do not knowingly collect or solicit any information from anyone under the age of 12. The Service and its content are not directed at children under the age of 12. The use of the Service by any person under the age of 12 is strictly prohibited under the Terms of Use. If you are a parent or guardian and you are aware that your children have provided us with personal information, please contact us. If we discover that children under 12 has provided us with personal information, we will delete such information from our servers without delay.
        p.c1.c10
            span.c8.c14
        p.c9
            span.c8.c5 Contact
        p.c1
            span.c2
                | If you have any questions about this Policy or the Service, please contact us via email:
            span.c2.c3 info@keekapp.com.
        p.c1.c10
            span.c0
        p.c9
            span.c5 Changes to
            span.c5.c3 keek’s
            span.c8.c5  Privacy Policy
        p.c1
            span.c2
                | We may modify or update this Policy from time to time, so please review it periodically. Changes to this Privacy Policy are effective when they are posted on our webpage
            span.c2.c3 http://keekapp.com.
            span.c2
                | Your continued use of Service after any modification to this Privacy Policy will also constitute your acceptance of such modification.
        p.c6.c10
            span.c8.c13
        p.c10.c16