extends layout

block content
    script.
        function twoDigits(d) {
            if (0 <= d && d < 10) return "0" + d.toString();
            if (-10 < d && d < 0) return "-0" + (-1 * d).toString();
            return d.toString();
        }
        Date.prototype.toMysqlFormat = function () {
            return this.getUTCFullYear() + "-" + twoDigits(1 + this.getUTCMonth()) + "-" + twoDigits(this.getUTCDate()) + " " + twoDigits(this.getUTCHours()) + ":" + twoDigits(this.getUTCMinutes()) + ":" + twoDigits(this.getUTCSeconds());
        };

        var add = function () {
            var authorId = document.getElementById("authorId").getAttribute('value')
            var createdAt = new Date().toMysqlFormat();

            var title = "Enter the title"
            var body = "Enter the message"
            var isFree = 0
            var isSend = 0
            var locale = 'eng'
            var pushTimeAt = createdAt

            data = {
                authorId:authorId,
                createdAt:createdAt,
                title: title,
                body: body,
                isFree: isFree,
                isSend: isSend,
                locale: locale,
                pushTimeAt: pushTimeAt
            }
                var url = "/admin/pushes/add"
                postApi(url,JSON.stringify({data:data}) , function () {
                    window.location.href = '/admin/pushes'
                })




        }



    .container-fluid
        -var i = 0

        div#authorId(value="#{user.id}")
        -var back = "stories#"+(Number(storyId) -1)

                button.btn.btn-info(type='button',onclick="add()")
                    span.glyphicon.glyphicon-plus
        br
        br
            
        #pushes(style="display: none; width: 100px;")
            //input.form-control(v-model='search', placeholder='Filter storys by name or age')
            table.table.table-bordered

                colgroup
                    col(v-for="column in columns" v-bind:style="column.color ? {'background-color':column.color} : {}")

                thead
                    tr(style="overflow: hidden")
                        th(v-for="column in columns")
                            a(v-on:click='sortBy(column.id,column.sortable)')
                                | {{ column.name }}
                tbody
                    tr(v-for="push,index in filteredEvents" v-bind:style="getStyle(push.changed)"  )
                        td {{ index+1 }}
                        td {{ push.id }}
                        td {{ push.authorId }}
                        td
                            input(v-model.lazy="push.title" placeholder="input text" v-on:change="changed(push)" size="15")

                        td
                            input(v-model.lazy="push.body" placeholder="input text" v-on:change="changed(push)" size="50")

                        td
                            select(v-model='push.isFree' v-on:change="changed(push)")
                                option(v-for='option in optionsFree', v-bind:value='option.value')
                                    | {{ option.text }}

                        td {{ getStatus(push) }}
                        td
                            select(v-model='push.isSend' v-on:change="changed(push)")
                                option(v-for='option in options', v-bind:value='option.value')
                                    | {{ option.text }}
                        td
                            select(v-model='push.isTest' v-on:change="changed(push)")
                                option(v-for='option in options', v-bind:value='option.value')
                                    | {{ option.text }}

                        td
                            select(v-model='push.locale' v-on:change="changed(push)")
                                option(v-for='option in locale', v-bind:value='option.value')
                                    | {{ option.text }}


                        td
                            input(v-model.lazy="push.storyId" placeholder="input text" v-on:change="changed(push)" size="15")
                        td
                            input(v-model="push.pushTimeAt" placeholder="input text" v-on:change="changed(push)" size="15")
                        td {{ push.createdAt }}

                        td
                            button.btn.btn-info(type='button',v-on:click="save(push)")
                                span.glyphicon.glyphicon-save

                        td
                            button.btn.btn-danger(type='button',v-on:click="remove(push)")
                                span.glyphicon.glyphicon-remove

    script(src = "/javascripts/vue.js")
    script.
        var setupPushes = !{JSON.stringify(pushes)}
        for (var i in setupPushes){
            setupPushes[i].changed = false;
        }
        new Vue({
            el: '#pushes',

            data: {
                changedStyle: {
                    "background-color": "#FFFDD0"
                },
                sortKey: 'id',

                reverse: true,

                search: '',

                columns: [
                    {id: '#', name: '#', sortable: false, width: 100},
                    {id: 'id', name: 'id', sortable: true, width: 40},
                    {id: 'author Id', name: 'authorId', sortable: true, width: 100},
                    {id: 'title', name: 'title', sortable: true, width: 100, filtered: true},
                    {id: 'body', name: 'body', sortable: true, width: 100},
                    {id: 'isFree', name: 'isFree', sortable: true},
                    {id: 'status', name: 'status', sortable: true, width: 40},
                    {id: 'isSend', name: 'send', sortable: true, width: 40},
                    {id: 'isTest', name: 'isTest', sortable: true},
                    {id: 'locale', name: 'locale', sortable: true},
                    {id: 'storyId', name: 'storyId', sortable: true},
                    {id: 'pushTimeAt', name: 'push Time', sortable: true},
                    {id: 'createdAt', name: 'createdAt', sortable: true},
                    {id: 'save', name: 'save', sortable: false},
                    {id: 'delete', name: 'delete', sortable: false},

                ],


                filter: {
                    isActive: false,
                    column: ""
                },

                pushes: setupPushes,

                 options: [
                    {text: 'Yes', value: 1},
                    {text: 'No', value: 0},
                ],

                optionsFree: [
                    {text: 'Free', value: 1},
                    {text: 'NonFree', value: 0},
                    {text: 'All', value: 2},

                ],

                optionsNega: [
                    {text: 'Yes', value: 0, color: "green"},
                    {text: 'No', value: 1, color: "color"},
                ],
                locale: [
                    {text: 'Rus', value: 'rus'},
                    {text: 'Eng', value: 'eng'},
                ],
                theme: [
                    {text: 'Light', value: 'light'},
                    {text: 'Dark', value: 'dark'},


                ],

                tags: [
                    "детектив",
                    "ужасы",
                    "мистика",
                    "триллер",
                    "на реальных событиях",
                    "романтика",
                    "комедия",
                    "драма",
                    "фэнтези",
                    "detective",
                    "horror",
                    "mystery",
                    "thriller",
                    "true pushes",
                    "romance",
                    "comedy",
                    "drama",
                    "fantasy"
                ],
                rus: [
                    "детектив",
                    "ужасы",
                    "мистика",
                    "триллер",
                    "на реальных событиях",
                    "романтика",
                    "комедия",
                    "драма",
                    "фэнтези"

                ],
                eng: [
                    "detective",
                    "horror",
                    "mystery",
                    "thriller",
                    "true pushes",
                    "romance",
                    "comedy",
                    "drama",
                    "fantasy"
                ]

            },

            methods: {
                sortBy: function (sortKey, sortable) {
                    if (sortable) {
                        this.reverse = (this.sortKey == sortKey) ? !this.reverse : false;

                        this.sortKey = sortKey;
                    }

                },

                filterBy(column, word) {

                    return this.pushes.filter(function () {
                        if (this[column].indexOf(word) !== -1)
                            return this
                    })

                },
                
                save(pushModel){
                    pushModel.changed = false;
                    var self = this;
                    if (pushModel.storyId=="") pushModel.storyId = null;
                    console.log(pushModel.storyId)
                    var push = {
                        "id": pushModel.id,

                        "data": {
                            "title": pushModel.title,
                            "body": pushModel.body,
                            "isFree": pushModel.isFree,
                            "isSend": pushModel.isSend,
                            "isTest": pushModel.isTest,
                            "locale": pushModel.locale,
                            "storyId": pushModel.storyId,
                            "pushTimeAt": pushModel.pushTimeAt

                        }
                    }

                    postApi('/admin/pushes/update', JSON.stringify(push), function () {
                        pushModel.changed = false;

                    })

                    console.log(push)

                },
                    remove(push){

                    if (confirm("You are shure to delete push " + push.id)) {
                        postApi('/admin/pushes/remove', JSON.stringify({id:push.id}), function () {
                            window.location.href = '/admin/pushes'
                        })
                    }
                },
                changed(push){
                    console.log("changed")
                    push.changed = true
                },
                getStyle(changed){
                    if (changed)return this.changedStyle
                    else return {}
                },
                getStatus(push) {
                    if (push.isSend == 0)return "Don't send"
                    var d = new Date();
                    d.setTime(Date.parse(push.pushTimeAt + " GMT"));

                    var diff = new Date()-d

                    var milliseconds = diff;
                    var seconds = milliseconds / 1000;
                    var minutes = seconds / 60;
                    var hours = minutes / 60;
                    var days = hours / 24;
                    var willSend;
                    var sended;

                    if (hours < -12) return "In process started"
                    if (hours < 13) return "In process continue"
                    if (hours > 12) return "Ended"

                }


            },

            computed: {
                filteredEvents() {
                    var sortKey = this.sortKey
                    var reverse = this.reverse
                    var ret = this.pushes.sort(function (a, b) {
                        if (!reverse) {
                            if (a[sortKey] > b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] < b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        } else {
                            if (a[sortKey] < b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] > b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        }
                    });
                    return ret;

                },

            },
            });
        document.getElementById("pushes").style.display = ""
