doctype html
html(lang='en')
    head
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111269084-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-111269084-1');
		

        title Keek
        meta(property='og:title', content='Keek')
        meta(property='og:type', content='website')
        meta(property='al:ios:url', content='keekapp://redirect')
        meta(property='al:ios:app_store_id', content='1291835732')
        meta(property='al:ios:app_name', content='Keek!')
        meta(property='al:web:url', content='https://keekapp.com/redirect')

        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        script.

            var shemeUrl = "keekapp:/"+window.location.pathname + window.location.search;
            var redirectToApp = function () {
                console.log("try to open")
                setTimeout(function appNotInstalled() {

                       if ("#{locale}" === "ru")
                    window.location.replace("https://itunes.apple.com/ru/app/keek/id1291835732?mt=8");
                    else
                    window.location.replace("https://itunes.apple.com/us/app/keek/id1291835732?mt=8");

                }, 100);
                window.location.replace(shemeUrl);
            };

            window.onload = redirectToApp;

            //window.onload = function (e) {

            //}
