extends layout

    block content

        .main.container
            .row
                .col-md-6.col-md-offset-3
                    form.form-signin(action="/admin/sendPush", method="post")
                        h2.form-signin-heading SendPush
                        div.form-group
                            label(for='email') Email:
                            input#email.input-block-level.form-control(type="email", name="email", placeholder="Email address")
                        div.form-group
                            label(for='p') Password:
                            input#p.input-block-level.form-control(type="password", name="password", placeholder="Password")

                        button.btn.btn-large.btn-primary(type="submit") Sign in