extends layout

block content
    script.
        var updateTestData = function () {


            var key = document.getElementById("key").value
            var oldValue = document.getElementById("oldValue").value
            var newValue = document.getElementById("newValue").value

            var oldValueObj = {};
            var newValueObj = {};
            oldValueObj[key] = oldValue;
            newValueObj[key] = newValue;
            var textjson = "[{" + key + ":" + oldValue +"}," +
                "{"+ key + ":" + newValue +"}]"

            try {
                textJSON = text

                var jsonObj = JSON.parse(textJSON)

            } catch (err) {
                alert("Invalid Json")
                return
            }
            console.log(textjson)
            postApi('/admin/updateTestData', JSON.stringify({jsonObj}), function () {
                window.location.href = "/admin/settings"
            })


        }

        var saveSettings = function (id) {

            console.log(id)
            var text = document.getElementById(id).value
            console.log(text)
            var textJSON = ""
            try {
                textJSON = text

                var jsonObj = JSON.parse(textJSON)

            } catch (err) {
                alert("Invalid Json")
                return
            }

            console.log(textJSON)
            postApi('/admin/settings', textJSON, function () {

                window.location.href = "/admin/settings"

            })


        }
        var rowChanged = function (rowID) {
            console.log(rowID)
            document.getElementById(rowID).style.backgroundColor = "#FFFDD0"
        }

    .container-fluid
        -var i = 0
        //.table-responsive
        //    table.table.table-bordered(id="testData" )
        //        thead
        //            tr
        //                th setting
        //                th data
        //
        //        tbody
        //
        //            tr
        //                td TestData sequenses
        //                td=JSON.stringify(data.testData.storySequence)
        //            tr
        //                td TestData popUp
        //                td=JSON.stringify(data.testData.popUp)
        //            tr
        //                td Settings awaitingTime
        //                td=data.settingsData.awaitingTime
        //            tr
        //                td Settings showCustomRating
        //                td=JSON.stringify(data.settingsData.showCustomRating)
        //            tr
        //                td Settings showAds
        //                td=JSON.stringify(data.settingsData.showAds)
        //            tr
        //                td
        //h4 Update Value
        //.form-group
        //    label(for='key') key:
        //        input#key.form-control(placeholder="\"test\"")
        //    label(for='oldValue') oldValue:
        //        input#oldValue.form-control(placeholder="true")
        //    label(for='newValue') newValue:
        //        input#newValue.form-control(placeholder="false")
        //    button.btn.btn-info(type='button',onclick='updateTestData()')
        //        span.glyphicon.glyphicon-save
        p
            button.btn.btn-info(type='button',onclick='saveSettings("jsonSettings")')
                span.glyphicon.glyphicon-save
        textarea(name="description" id="jsonSettings", class="form-control", style="min-width: 100%; resize: none", rows=40, onKeyUp='rowChanged("jsonSettings")' spellcheck=true)=JSON.stringify(data,null,'\t')

