doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

    block header
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

  body#bg
        nav.navbar.navbar-light
            .container-fluid
                .navbar-header
                    a.navbar-brand keek
                div(style='display: inline-block;')
                    ul.nav.navbar-nav
                        li
                            a(href='/admin') Home

                        -if(user)

                            li
                                div.navbar-brand #{user.email}
                            li
                                a(href='/admin/logout') Logout

                        -else
                            li
                                a(href='/admin/login') Login
                            li
                                a(href='/admin/register') Register
        block content



