extends layout

block content
    script(src="/javascripts/vue.js")
    script(src="/javascripts/FileSaver.js")
    script.
        var updatePhoto = function (num) {

            console.log("inputPhotoID" + num)
            uploadFile(document.getElementById("inputPhotoID" + num).files[0], function (fileName) {

                document.getElementById("imageID" + num).src = '/storage/' + fileName
                document.getElementById(num).style.backgroundColor = "#FFFDD0"
            })
        }
        var rowChanged = function(rowID){
       
            document.getElementById(rowID).style.backgroundColor = "#FFFDD0"
        }

        function twoDigits(d) {
            if (0 <= d && d < 10) return "0" + d.toString();
            if (-10 < d && d < 0) return "-0" + (-1 * d).toString();
            return d.toString();
        }
        Date.prototype.toMysqlFormat = function () {
            return this.getUTCFullYear() + "-" + twoDigits(1 + this.getUTCMonth()) + "-" + twoDigits(this.getUTCDate()) + " " + twoDigits(this.getUTCHours()) + ":" + twoDigits(this.getUTCMinutes()) + ":" + twoDigits(this.getUTCSeconds());
        };

        //Если с английского на русский, то передаём вторым параметром true.
        transliterate = (function () {
                var
                    rus = "щ   ш  ч  ц  ю  я  ё  ж  ъ  ы  э  а б в г д е з и й к л м н о п р с т у ф х ь".split(/ +/g),
                    eng = "shh sh ch cz yu ya yo zh `` y' e` a b v g d e z i j k l m n o p r s t u f x `".split(/ +/g)
                ;
                return function (text, engToRus) {
                    var x;
                    for (x = 0; x < rus.length; x++) {
                        text = text.split(engToRus ? eng[x] : rus[x]).join(engToRus ? rus[x] : eng[x]);
                        text = text.split(engToRus ? eng[x].toUpperCase() : rus[x].toUpperCase()).join(engToRus ? rus[x].toUpperCase() : eng[x].toUpperCase());
                    }
                    return text;
                }
            })();

        var addStory = function (i) {
                console.log(i+1)
                var newStory = {
                    tags:{},
                    source:"other",
                    hidden:1,
                    backgroundcolor: "ffffff",
                    foregroundcolor: "000000",
                    minuserlevel: "free"

                }
                var url = "/api/stories/add"
                postApi(url, JSON.stringify(newStory), function () {
                    window.location.href = 'stories#'+ i
                    location.reload(true)
                })


        }

        var manageEpisodes = function (num) {
            console.log(num)
            window.location.href='episodes?id='+num
        }



    mixin selectOption(name, code)
        if (name === code)
            option(selected="selected")= name
        else
            option()= name

    .container-fluid.table-responsive
        row.col
            #demo(style="display: none")
                button.btn.btn-info(type='button',onclick="addStory(#{i})")
                    span.glyphicon.glyphicon-plus
                =' '
                button.btn.btn-success(type='button',v-on:click="download()")
                    span.glyphicon.glyphicon-download-alt
                =' '
                #pages.btn-group
                    button.btn.btn-link(type='button',v-on:click="selectPage(curPage-1)")
                        span.glyphicon.glyphicon-arrow-left
                    button.btn.btn-link(type='button') {{curPage + 1}} of {{Math.ceil(stories.length/rowsPerPage)}}
                    button.btn.btn-link(type='button',v-on:click="selectPage(curPage+1)")
                        span.glyphicon.glyphicon-arrow-right
                =' '
                label(for='rowsPerPage') Rows per page:
                =' '
                select(v-model='rowsPerPage' id='rowsPerPage')
                    option(v-for='page in pages', v-bind:value='page.value')
                        | {{ page.text }}
                b  Stories count: {{stories.length}}
                br
                br

                //input.form-control(v-model='search', placeholder='Filter storys by name or age')
                table.table.table-bordered(style="width: 100px;")

                    colgroup
                        col(v-for="column in columns" v-bind:style="column.color ? {'background-color':column.color} : {}")

                    thead
                        tr(style="overflow: hidden")
                            th(v-for="column in columns")
                                a(v-on:click='sortBy(column.id,column.sortable)')
                                    | {{ column.name }}
                    tbody
                        tr(v-for="story,index in filteredEvents" v-bind:style="getStyle(story.changed)" v-bind:id='story.id')
                            td {{ index+1 }}
                            td {{ story.id }}
                            td
                                input(v-model="story.name" placeholder="input text" v-on:change="StoryChanged(story)" size="15")

                            td
                                label(v-bind:for="'img'+story.id" style="width:100px; cursor:pointer")
                                    img(v-bind:src='story.image', alt='Not found', width='100', height='100').img-thumbnail
                                input(v-bind:id="'img'+story.id",type="file",  name="imgUploader"  style="display: none" v-on:change="changePhoto($event,story)")
                            td {{ story.episodes.length }}
                                a.btn.btn-success(role='button',v-bind:href="'episodes?id='+story.id")
                                    span.glyphicon.glyphicon-pencil(style="font-size: 0.8em;")
                            td(style="overflow: hidden" ){{ story.availableAt }}
                                =' '
                                button.btn.btn-default.btn-xs(role='button',style="height:5;",v-on:click="updateDate(story)")
                                    span.glyphicon.glyphicon-repeat()
                            td
                                select(v-model='story.hidden' v-on:change="StoryChanged(story)")
                                    option(v-for='option in options', v-bind:value='option.value')
                                        | {{ option.text }}
                            td
                                select(v-model='story.isTest' v-on:change="StoryChanged(story)")
                                    option(v-for='option in optionsNega', v-bind:value='option.value')
                                        | {{ option.text }}
                            td
                                select(v-model='story.isNew' v-on:change="StoryChanged(story)")
                                    option(v-for='option in options', v-bind:value='option.value')
                                        | {{ option.text }}
                            td
                                input(v-model="story.rank" placeholder="input text" size="1" v-on:change="StoryChanged(story)")
                            td
                                select(v-model='story.theme' v-on:change="StoryChanged(story)")
                                    option(v-for='option in theme', v-bind:value='option.value')
                                        | {{ option.text }}

                            td(style="overflow: hidden" )
                                div(v-for="tag,index in story.tags" style="float: left;width:120px")

                                        select(v-model='story.tags[index]' v-on:change="StoryChanged(story)" style="width:100px")
                                            option(v-for='option in tags', v-bind:value='option')
                                                | {{ option}}
                                        a(v-on:click='removeTag(story, index)' )
                                            img(src="/images/remove.png" width='20', height='20' align="right")
                                a(v-on:click='addTag(story.id)')
                                        img(src="/images/add.png" width='20', height='20' align="right")

                            td
                                select(v-model='story.locale' v-on:change="StoryChanged(story)")
                                    option(v-for='option in locale', v-bind:value='option.value')
                                        | {{ option.text }}
                            td
                                input(v-model="story.source" placeholder="input text" size="5" v-on:change="StoryChanged(story)")
                            td {{ story.branching }}




                            td {{ story.rateStoryLike }}
                            td {{ story.rateStoryDislike }}
                            td {{ story.likeRate}}
                            td {{ story.startedIos }}
                            td {{ story.endedIos }}
                            td {{ story.complition}}
                            td
                                button.btn.btn-info(type='button',v-on:click="saveStory(story.id)")
                                    span.glyphicon.glyphicon-save
                a.btn.btn-link(type='button',href="#bg")
                    span.glyphicon.glyphicon-arrow-up
                //.form-group
                //    label Name
                //    input.form-control(type='text', v-model='newUser.name')
                //.form-group
                //    label Age
                //    input.form-control(type='name', v-model='newUser.age')
                //button.btn.btn-primary(type='submit', v-on:click='addUser') Add

    script.
        var setupStories = !{JSON.stringify(stories)}
        var curPage = getCookie('curPage')
        curPage = curPage!== undefined ? Number(curPage) : 0;
        var rowsPerPage = getCookie('rowsPerPage')
        console.log(curPage,rowsPerPage )
        rowsPerPage = rowsPerPage !== undefined ? Number(rowsPerPage) : 15;

        for(var i in setupStories ){
            const allLikes = setupStories[i].rateStoryLike+setupStories[i].rateStoryDislike;

                setupStories[i]["ep. qty."]=setupStories[i].episodes.length
            setupStories[i].likeRate = setupStories[i].rateStoryLike == 0 ? 0 : Math.round(setupStories[i].rateStoryLike/(setupStories[i].rateStoryLike+setupStories[i].rateStoryDislike)*100)
            var keys = [];
            try{
                var tags = JSON.parse(setupStories[i].tags)
                for (key in tags){
                    key = key.charAt(0).toLowerCase() + key.substr(1);
                    keys.push(key)
                }

                setupStories[i].tags = keys;

            }catch (e){
                setupStories[i].tags = [];
            }

            setupStories[i].image = "/content/images/"+setupStories[i].id+"/" +setupStories[i].image
            setupStories[i].changed = false;

            setupStories[i].startedIos =0
            setupStories[i].endedIos = 0
            setupStories[i].complition = 0
            if (setupStories[i].episodes.length>0){
                setupStories[i].startedIos = setupStories[i].episodes[0].started_ios
                setupStories[i].endedIos =setupStories[i].episodes.length == 0? 0 : setupStories[i].episodes[setupStories[i].episodes.length-1].ended_ios
                if (allLikes < setupStories[i].endedIos*1.2) {
                    setupStories[i].endedIos = allLikes
                }
                setupStories[i].complition = setupStories[i].startedIos ? Math.round(setupStories[i].endedIos / setupStories[i].startedIos*100)  : 0
            }



        }
        new Vue({
            el: '#demo',

            data: {
                changedStyle:{
                    "background-color":"#FFFDD0"
                },
                sortKey: 'availableAt',

                reverse: true,
                rowsPerPage:rowsPerPage,
                curPage:curPage,
                search: '',

                columns: [
                    {id:'#',name:'#',sortable:false,width:100},
                    {id:'id',name:'id',sortable:true,width:40},
                    {id:'name',name:'name',sortable:true,width:100,filtered:true},
                    {id:'iamge',name:'image',sortable:true,width:100},
                    {id:'ep. qty.',name:'ep. qty.',sortable:true},
                    {id:'availableAt',name:'_lastUpdate_',sortable:true,width:40},
                    {id:'hidden',name:'hidden',sortable:true},
                    {id:'isTest',name:'live',sortable:true},
                    {id:'isNew',name:'isNew',sortable:true},
                    {id:'rank',name:'rank',sortable:true},
                    {id:'theme',name:'theme',sortable:true},
                    {id:'tags',name:'tags',sortable:true},
                    {id:'locale',name:'locale',sortable:true},
                    {id:'source',name:'source',sortable:true},
                    {id:'branching',name:'branch',sortable:true,width:"40px"},
                    {id:'rateStoryLike',name:'like',sortable:true},
                    {id:'rateStoryDislike',name:'dislike',sortable:true},
                    {id:'likeRate',name:'like rate, %',sortable:true,color:"#f5f5f5"},
                    {id: 'startedIos', name: 'start ed', sortable: true},
                    {id: 'endedIos', name: 'end ed', sortable: true},
                    {id: 'complition', name: 'end rate, %', sortable: true,color:"#f5f5f5"},
                    {id:'save',name:'save',sortable:false}
                ],


                filter:{
                    isActive:false,
                    column:""
                },

                stories: setupStories,
                pages:[
                    {text: '15', value: 15},
                    {text: '25', value: 25},
                    {text: '50', value: 50},
                    {text: '100', value: 100},
                    {text: '500', value: 500}
                ],
                options: [
                    {text: 'Yes', value: 1},
                    {text: 'No', value: 0},
                ],
                optionsNega: [
                    {text: 'Yes', value: 0,color:"green"},
                    {text: 'No', value: 1,color:"color"},
                ],
                locale: [
                    {text: 'Rus', value: 'rus'},
                    {text: 'Eng', value: 'eng'},
                ],
                theme: [
                    {text: 'Light', value: 'light'},
                    {text: 'Dark', value: 'dark'},


                ],

                tags: [
                    "детектив",
                    "ужасы",
                    "мистика",
                    "триллер",
                    "на реальных событиях",
                    "романтика",
                    "комедия",
                    "драма",
                    "фэнтези",
                    "приключения",
                    "научная фантастика",
                    "detective",
                    "horror",
                    "mystery",
                    "thriller",
                    "true stories",
                    "romance",
                    "comedy",
                    "drama",
                    "fantasy",
                    "adventure",
                    "sci-fi"
                ],
                rus: [
                    "детектив",
                    "ужасы",
                    "мистика",
                    "триллер",
                    "на реальных событиях",
                    "романтика",
                    "комедия",
                    "драма",
                    "фэнтези",
                    "приключения",
                    "научная фантастика"

                ],
                eng: [
                    "detective",
                    "horror",
                    "mystery",
                    "thriller",
                    "true stories",
                    "romance",
                    "comedy",
                    "drama",
                    "fantasy",
                    "adventure",
                    "sci-fi"
                ]

            },

            methods: {
                sortBy: function (sortKey,sortable) {
                    if (sortable){
                        this.reverse = (this.sortKey == sortKey) ? !this.reverse : false;

                        this.sortKey = sortKey;
                    }

                },
                updateDate: function (story) {
                    story.availableAt = new Date().toMysqlFormat();
                    story.changed = true;

                },
                filterBy(column, word) {

                    return this.stories.filter(function () {
                        if (this[column].indexOf(word)!==-1)
                            return this
                    })

                },

                getTags(locale) {
                    if (locale == "rus") {
                        return this.rus
                    } else return this.eng

                },
                addTag(id) {
                   var ret = this.stories.find(function (obj) { return obj.id === id; });
                    var tag = ret.locale == "rus"?this.rus[0]:this.eng[0]
                    ret.changed=true;
                    ret.tags.push(tag)
                },
                removeTag(story, index){
                    story.tags.splice(index, 1)
                    story.changed = true;
                },
                manageEpisodes(id) {
                    window.location.href = 'episodes?id=' + id
                },

                download() {
                    filename = new Date().toISOString() + ".csv";

                    var csvContent =  transliterate(this.createTable());

                    var blob = new Blob(["\ufeff",csvContent ], {type: 'text/csv;'});

                    saveAs(blob, filename);

                },



                createTable(){

                    var storiesTableText = 'sep=\t\n';
                    //id;scenarioId;testData;register;lastActivity;subscriptionUntil;isFree;appleToken;curEpisode;curMessage;locale;productId;pushToken;timeZone;isTest;country;paidSumm;idfa;
                    storiesTableText += this.columns[1].name + "\t";
                    storiesTableText += this.columns[2].name + "\t";

                    storiesTableText += this.columns[4].name + "\t";
                    storiesTableText += this.columns[5].name + "\t";
                    storiesTableText += this.columns[6].name + "\t";
                    storiesTableText += this.columns[7].id + "\t";
                    storiesTableText += this.columns[8].name + "\t";
                    storiesTableText += this.columns[9].name + "\t";
                    storiesTableText += this.columns[10].name + "\t";
                    storiesTableText += this.columns[11].name + "\t";
                    storiesTableText += this.columns[12].name + "\t";
                    storiesTableText += this.columns[13].name + "\t";
                    storiesTableText += this.columns[14].name + "\t";
                    storiesTableText += this.columns[15].name + "\t";
                    storiesTableText += this.columns[16].name + "\t";
                    storiesTableText += this.columns[17].name + "\t";
                    storiesTableText += this.columns[18].name + "\t";
                    storiesTableText += this.columns[19].name + "\t";
                    storiesTableText += this.columns[20].name + "\t";

                    storiesTableText += "\n";
                    for (const ind in this.stories) {
                        storiesTableText += this.stories[ind]["id"] + "\t";
                        storiesTableText += this.stories[ind]["name"] + "\t";
                        storiesTableText += this.stories[ind]["ep. qty."] + "\t";
                        storiesTableText += this.stories[ind]["availableAt"] + "\t";
                        storiesTableText += this.stories[ind]["hidden"] + "\t";
                        storiesTableText += this.stories[ind]["isTest"]+ "\t";
                        storiesTableText += this.stories[ind]["isNew"] + "\t";
                        storiesTableText += this.stories[ind]["rank"] + "\t";
                        storiesTableText += this.stories[ind]["theme"] + "\t";
                        storiesTableText += this.stories[ind]["tags"] + "\t";
                        storiesTableText += this.stories[ind]["locale"] + "\t";
                        storiesTableText += this.stories[ind]["source"] + "\t";
                        storiesTableText += this.stories[ind]["branching"] + "\t";
                        storiesTableText += this.stories[ind]["rateStoryLike"] + "\t";
                        storiesTableText += this.stories[ind]["rateStoryDislike"] + "\t";
                        storiesTableText += this.stories[ind]["likeRate"] + "\t";
                        storiesTableText += this.stories[ind]["startedIos"] + "\t";
                        storiesTableText += this.stories[ind]["endedIos"] + "\t";
                        storiesTableText += this.stories[ind]["complition"] + "\t";
                        storiesTableText += "\n";
                    }
                    return storiesTableText
                },
                saveStory(id){
                    var ret = this.stories.find(function (obj) { return obj.id === id; });
                    ret.changed = false;
                        var tags = {};
                        var storyModel = this.stories.find(function (obj) { return obj.id === id; });
                        for (var i in storyModel.tags){
                            var tag = storyModel.tags[i]
                            tags[tag]= true
                        }

                        var self= this;
                        var story = {
                            "id": id,
                            "data": {
                                "name": storyModel.name,
                                "image": storyModel.image,
                                "hidden": storyModel.hidden,
                                "theme": storyModel.theme,
                                "availableAt": storyModel.availableAt,
                                "tags": JSON.stringify(tags),
                                "locale": storyModel.locale,
                                "rank": storyModel.rank,
                                "source": storyModel.source,
                                "isTest": storyModel.isTest,
                                "isBlock": storyModel.isBlock,
                                "isNew": storyModel.isNew
                            }
                        }
                        postApi('/admin/updatestory', JSON.stringify(story), function () {
                            //document.getElementById(id).style.backgroundColor = "transparent"
                            postApi('/admin/recalculatecolorsforstory', JSON.stringify({id: id}), function () {
                                //document.getElementById(id).style.backgroundColor = "transparent"
                            })
                        })

                        console.log(story)

                },
                selectPage(num){
                    var self = this;
                    if (num>=0 && num < Math.ceil(self.stories.length/self.rowsPerPage))
                    {
                        self.curPage = num;
                    }
                },
                StoryChanged(story){
                  story.changed=true
                },
                getStyle(changed){
                    if (changed)return this.changedStyle
                    else return {}
                },
                changePhoto(event,story){
                    var file = event.target.files[0]
                    uploadFile(file, function (fileName) {

                        story.image = '/storage/' + fileName
                        story.changed=true
                    })
                }
            },

            computed: {
                filteredEvents() {
                    var sortKey = this.sortKey
                    var reverse = this.reverse
                    var ret =this.stories.sort(function (a, b) {
                        if (!reverse) {
                            if (a[sortKey] > b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] < b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        }else{
                            if (a[sortKey] < b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] > b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        }
                    });
                    if (this.curPage*this.rowsPerPage>this.stories.length)this.curPage =0;
                    setCookie('curPage',this.curPage);
                    setCookie('rowsPerPage',this.rowsPerPage);
                    var startIndex = this.curPage*this.rowsPerPage
                    var endIndex = startIndex + this.rowsPerPage < this.stories.length ? startIndex + this.rowsPerPage : this.stories.length
                    return ret.slice(startIndex,endIndex);

                },

            },

        });
        document.getElementById("demo").style.display=""


