extends layout

html


block content
    script(src="/javascripts/colorpicker/jscolor.min.js")
    script.
        var save = function () {
            var theme =  document.getElementById("theme").value
            var backgroundcolor , foregroundcolor


            var story = {
                name: document.getElementById('name').value,
                hidden: document.getElementById('hidden').checked,
                //backgroundcolor: document.getElementById('backgroundcolor').value,
                //foregroundcolor: document.getElementById('foregroundcolor').value,
                theme: document.getElementById('theme').value,
                minuserlevel: document.getElementById('minuserlevel').value,
                tags: document.getElementById('tags').value,
                locale: document.getElementById('locale').value
            }
            console.log(story)


        }

        var updatePhoto = function (num) {


            uploadFile(document.getElementById('imageFile').files[0],function (fileName) {

                document.getElementById('image').src = '/storage/' + fileName
            })
        }

    .container
        h1= title
        p Welcome to #{title}
        h2
            a(href="/admin/stories") Stories
        if !story
            //.form-group
            //    label(for='id') id:
            //        input#id.form-control(value='test')

            .form-group
                label(for='name') name:
                    input#name.form-control(value='name')
            .form-group
                label(for='image') image:
                    img#image.img-thumbnail(src='/images/No_image.jpg', alt='Cinque Terre', width='300', height='300')
                    input#imageFile(type="file",  name="imgUploader" onchange='updatePhoto()')
            .form-group
                label(for='hidden') hidden:
                    input#hidden.form-control(type='checkbox', checked)

            //.form-group
            //    label(for='backgroundcolor') backgroundcolor:
            //         input#backgroundcolor.form-control.jscolor(value='ab2567')
            //
            //.form-group
            //    label(for='foregroundcolor') foregroundcolor:
            //        input#foregroundcolor.form-control.jscolor(value='ab2567')

            .form-group
                label(for='theme') theme:
                    select#theme.form-control
                        option light
                        option dark
                        option red

            //.form-group
                label(for='minuserlevel') minuserlevel:
                    select#minuserlevel.form-control
                        option free
                        option paid


            .form-group
                label(for='tags') tags:
                    input#tags.form-control(value='{}')

            .form-group
                label(for='locale') locale:
                    select#locale.form-control
                        option eng
                        option rus

            button.btn.btn-info(type='button',onclick="save()")
                span.glyphicon.glyphicon-save Save


            //    tr
            //        th #
            //        th id
            //        th name
            //        th image
            //        th availableAt
            //        th episodes count
            //        th hidden
            //        th backgroundcolor
            //        th foregroundcolor
            //        th minuserlevel
            //        th tags
            //        th locale
            //        th save
            //        th correct story
            //
            //tbody
            //    -for (var i = 1; i < stories.length; i++)
            //        tr
            //            td=i
            //            td=stories[i].id
            //            td
            //                input( value='#{stories[i].name}')
            //            td=stories[i].episodes.length
            //            //td=stories[i].image
            //            //td=stories[i].availableAt
            //            td
            //                input( value='#{stories[i].hidden}')
            //            //td=stories[i].backgroundcolor
            //            //td=stories[i].foregroundcolor
            //            td=stories[i].minuserlevel
            //            //td
            //                input( value='#{stories[i].minuserlevel}')
            //            //td
            //                input( value='#{stories[i].tags}')
            //            td
            //                input( value='#{stories[i].locale}')
            //            //td=stories[i].like
            //            td
            //                button.btn.btn-info(type='button',onclick="save(#{i})")
            //                    span.glyphicon.glyphicon-save
            //            td
            //                button.btn.btn-success(type='button',onclick="save(#{i})")
            //                    span.glyphicon.glyphicon-pencil
            //

