extends layout

html
  block header
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/textToJsonConverter.js')
    script.
      convertToJson = function () {
          var text = document.getElementById('textInput').value;
          document.getElementById('jsonOutput').value = convertTextToJson(text)
      }

      convertToText = function () {
          var textJson = document.getElementById('jsonOutput').value;
          document.getElementById('textInput').value = convertJsonToText(textJson)
      }

block content
  .container-fluid
    button(class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
      span.glyphicon.glyphicon-chevron-down
      =' Description'
    #collapseExample.collapse

      h4 Условные обозначения для текста:
      ul
        li # - имя
        li ## - системное сообщение
        li % - печатает
        li %% - картинка
      h4 Разветвления
      ul
        li ###goto#id1,id2 разветвления истрии где id1,id2 - название блоков
        li ###id1 - начало нового блока, где id1 - его название
      p Все системные символы ставятся строго вначале строки
      p Для нахождения ошибки в JSON можно воспользоваться&nbsp;
        a(href = "https://jsonlint.com/") json валидатором
    br
    br

    .row
      .col-lg-6
        .panel.panel-default
          .panel-heading(style='text-align: right' ) Input Text
              =' '
              button(style='' type="button" data-toggle="button" class="btn btn-primary", onclick='convertToJson()')
                ='ConvertToJson '
                span.glyphicon.glyphicon-arrow-right

          .panel-body
            div.input
              textarea(name="description" id="textInput", class="form-control", style="min-width: 100%; resize: none", rows=33, spellcheck=true)

      .col-lg-6
        .panel.panel-default
          .panel-heading
            =''
            button(type="button" data-toggle="button" class="btn btn-primary", onclick='convertToText()' )
              span.glyphicon.glyphicon-arrow-left
              =' ConvertToText'
            =' '
            =' Input JSON'

          .panel-body
            div.input
              textarea(name="description" id="jsonOutput", class="form-control", style="min-width: 100%; resize: none", rows=33, spellcheck=true)
