doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111269084-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag()
          {dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-111269084-1');
        title Subscription
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/keek.css')
        link(rel='stylesheet', href='fonts/raleway.css')
    body#bg
        .container.container-fluid
            h4 Subscribe for unlimited access to all stories, media and wait free for the duration of your subscription.
            ul
                li Weekly subscription is charged at $2.99* per week after free trial period of 3 days.
                li Monthly subscription is charged at $7.99* per month.
                li Yearly subscription is charged at $39.99* per year.
                li Payment will be charged to iTunes Account at confirmation of purchase
                li Subscription automatically renews unless auto-renew is turned off at least 24-hours before the end of the current period
                li Account will be charged for renewal within 24-hours prior to the end of the current period, and identify the cost of the renewal
                li Subscriptions may be managed by the user and auto-renewal may be turned off by going to the user's Account Settings after purchase
                li Any unused portion of a free trial period, if offered, will be forfeited when the user purchases a subscription to that publication, where applicable
                li No cancellation of the current subscription is allowed during active subscription period
                li Prices are equal to the value that "Apple's App Store Matrix" determines is the equivalent subscription price in $USD
            p By using Keek, you agree to our Terms of Use:
                a(href="https://keekapp.com/terms.html")  https://keekapp.com/terms.html
                |  and
                |  Privacy Policy:
                a(href="https://keekapp.com/privacy.html") https://keekapp.com/privacy.html

