doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111269084-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag()
          {dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-111269084-1');
        title Subscription
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/keek.css')
        link(rel='stylesheet', href='fonts/raleway.css')
    body#bg
        .container.container-fluid
            h4 Подписка с неограниченным доступом к историям и фотографиями, без режима ожидания до окончания действия подписки.
            ul
                li Недельная подписка $2.99 за неделю после триального периода.
                li Месячная подписка $7.99.
                li Годовая подписка $39.99.
                li Оплата за подписку будет списана со счёта, привязанного к Вашему Apple ID, после подтверждения покупки
                li Подписка будет автоматически продлена после окончания текущего периода. Отменить подписку можно не позднее, чем за 24 часа до её завершения, при этом она будет активна до конца текущего периода.
                li Вы можете управлять своими подписками в настройках Вашего Apple ID после совершения покупки. Бесплатный ознакомительный период, если таковой был предоставлен, прекращает свое действие в момент активации подписки вне зависимости от его длительности и даты начала.
                li Отмена текущей подписки во время активного периода невозможна
                li Цены равны стоимости, которая, согласно ценовой матрице App Store Apple, является эквивалентом цены на подписку в долларах США
            p Пользуясь Keek! вы соглашаетесь с условиями пользования :
                a(href="https://keekapp.com/terms.html")  https://keekapp.com/terms.html
                |  и
                |  политикой конфеденциальности:
                a(href="https://keekapp.com/privacy.html") https://keekapp.com/privacy.html








