extends layoutIndex



block content
    title Support
    .container.my-5.terms-body
        h1 Contact support
        p If you have any questions/suggestions regarding our mobile application, please don't hesitate to contact us at
            a(href='mailto:info@keekapp.com')  info@keekapp.com.
            |  We usually reply within 24hr depending on your location.