extends layoutIndex



block content
    title Terms
    .container.my-5.terms-body
        p.c2.c7
            h2 Terms Of Use
        p.c2.c5
            span.c6
        p.c2.c7
            span.c9 Effective date:
            span.c0 10 May 2018
        p.c2.c5
            span.c6
        p.c1
            span.c9
                | Definitions
                br
            span.c3 "
            span.c3.c15 keek
            span.c3 ", "us", "we" or "our"
            span.c9  means
            span.c3 keek mobile application
            span.c9 operated by
            span.c0 LOGIC WAY SOLUTIONS LLC
            span.c6  incorporated under the Belarussian  law.
        p.c1
            span.c3 "User"
            span.c6  means all visitors, users, and others who access the Service.
        p.c1
            span.c3  "You"
            span.c6  means you, the user of the Service.
        p.c1
            span.c3 "Content"
            span.c6
                | means any text, writings, photographs, graphics, images, comments, chat text, personally identifiable information and other content or materials that are posted, generated, provided or otherwise made available via the Service. Content includes without limitation User Content.
        p.c1
            span.c3 "User Content"
            span.c6
                | means any Content that Account holders (including you) provide to be made available via the Service.
        p.c1
            span.c3 "
            span.c3.c15 keek
            span.c3  Content"
            span.c9  means content owned or licensed by
            span.c0 keek
            span.c6 .
        p.c1
            span.c3 "
            span.c3.c15 keek
            span.c3  Parties"
            span.c9  means
            span.c0 keek
            span.c6
                | together with its employees, managers, directors, attorneys, officers or agents.
        p.c1
            span.c3 "Service"
            span.c9  means the
            span.c0 keek
            span.c9  service, or any applications (including mobile applications) made available by
            span.c0 keek
            span.c6 .
        p.c1
            span.c3 "Terms"
            span.c9  means these terms of use, as they may be modified from time to time by
            span.c0 keek
            span.c6  in its discretion pursuant to the terms hereof.
        p.c1.c8
            span.c6
        p.c1
            span.c9 These Terms also include Privacy Policy, which is located at the website
            span.c0 http://keekapp.com.
        p.c1.c8
            span.c6
        p.c4
            span.c10.c3 Acceptance
        p.c1
            span.c6
                | Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all users and others who access or use the Service. By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
        p.c1.c8
            span.c6
        p.c4
            span.c10.c3 Service Age Restriction
        p.c1
            span.c6 You must be at least 12 (twelve) years old to use the Service.
        p.c1.c8
            span.c6
        p.c4
            span.c10.c3 Privacy
        p.c1
            span.c9 You are under no obligation to give
            span.c0 keek
            span.c9
                | any comments, ideas, suggestions, comments related to the Service or the business or operations of
            span.c0 keek
            span.c9
                | . If you share comments, ideas, suggestions with us, we will own such comments, ideas and suggestions. You grant to us all of your rights, title, and interest in such ideas, suggestions, comments. You agree unless otherwise prohibited by applicable law
            span.c0 keek
            span.c6
                | will be free to use and implement same, without any restrictions or obligations of any kind.
        p.c1.c8
            span.c6
        p.c4
            span.c10.c3 Registration and Your Account
        p.c2
            span.c6
                | When you create an account with us ("Account"), you must provide us information that is true, accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
        p.c2
            span.c6
                | You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.
        p.c2
            span.c6
                | You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.
        p.c2.c8
            span.c6
        p.c4
            span.c10.c3 Feedback 
        p.c1
            span.c9 You are under no obligation to give
            span.c0 keek
            span.c9
                | any comments, ideas, suggestions, comments related to the Service or the business or operations of
            span.c0 keek
            span.c9
                | . If you share comments, ideas, suggestions with us, we will own such comments, ideas and comments. You grant to us all of your rights, title, and interest in such comments, ideas, suggestions, comments. Unless otherwise prohibited by applicable law you agree
            span.c0 keek
            span.c6
                | will be free to use and implement same, without any restrictions or obligations of any kind.
        p.c1.c8
            span.c6
        p.c4
            span.c10.c3 Subscription
        p.c2.c7
            span.c6
                | - You can subscribe for unlimited access to our catalog, all media content and ability to write your own stories
        p.c2.c7
            span.c6 - 3 days trial period
        p.c2.c7
            span.c6 - The subscriptions are $2.99 weekly, $7.99 monthly and $39.99 annually*
        p.c2.c7
            span.c6 - You'll be able to read unlimited stories for the duration of your subscription
        p.c2.c7 
            span.c6 - Any unused portion of a free trial period, if offered, will be forfeited when the user purchases a subscription to that publication
        p.c2.c5
            span.c6
        p.c2.c7
            span.c6
                | Payment will be charged to your iTunes Account at confirmation of purchase. Subscription automatically renews unless auto-renew is turned off for at least 24-hours before the end of the current period
        p.c2.c7
            span.c6
                | Account will be charged for renewal within 24-hours prior to the end of the current period at the cost of the chosen package. Subscriptions may be managed by the user and auto-renewal may be turned off by going to the user's Account Settings after purchase. No cancellation of the current subscription is allowed during active subscription period
        p.c2.c5
            span.c6
        p.c2.c7
            span.c6
                | *Prices are equal to the value that "Apple's App Store Matrix" determines is the equivalent subscription price in $USD
        p.c1.c8
            span.c6
        p.c4
            span.c10.c3 General Prohibitions
        p.c2.c7
            span.c6
                | User represents, warrants and agrees not to contribute any Content or User Content or otherwise use the Service or interact with the Service in a manner that:
        p.c2.c7
            span.c6
                | - is fraudulent, deceptive, harmful, threatening, harassing, defamatory, obscene, or otherwise objectionable;
        p.c2.c7
            span.c6 - use the Service for any illegal or unauthorized purpose;
        p.c2.c7
            span.c6 - for commercial purposes; or
        p.c2.c7
            span.c6
                | - infringes, misappropriates or violates a third party’s (including us) patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy;
        p.c2.c7
            span.c6
                | - runs Listserv, Maillist, any form of spam on the Service, or any processes that run or are activated while you are not using the Service, or that otherwise interfere with the proper working of the Service, including by placing an unreasonable load on the Service infrastructure;
        p.c2.c7
            span.c6 - records or stores any significant portion of the Content;
        p.c2.c7
            span.c6
                | - interfere with or disrupt the Service or servers or networks connected to the Service,
        p.c2.c7
            span.c6
                | - inject Content or code or otherwise alter or interfere with the way any keek page is rendered or displayed in a User’s browser or on a User’s device;
        p.c2.c7
            span.c6
                | - attempt to test the vulnerability of our system, network or breach any security or authentication measures;
        p.c2.c7
            span.c9 - jeopardizes the security of any
            span.c0 keek
            span.c6
                | account as well as allowing someone else to log in to the Service using your data);
        p.c2.c7
            span.c9
                | - attempts to obtain the computer/mobile device or other security information from other
            span.c0 keek
            span.c6 users;
        p.c2.c7
            span.c6
                | - violates the security of any computer network, or cracks any passwords or security encryption codes;
        p.c2.c7
            span.c6 - encourage or enable third parties to do any of the mentioned above.
        p.c2.c5
            span.c10.c18
        p.c2.c7
            span.c9
                | At our sole discretion and without liability to Users, we may determine what conduct it considers to be in violation of the Terms or Service itself and to take action as a result, which may also include termination of User’s Account and exclusion from further participation in the Service.
        p.c2.c8
            span.c10.c20
        p.c4
            span.c3 Property rights
        p.c2.c7
            span.c9
                | We do not claim any ownership rights in any User Content and nothing in these Terms will be deemed to restrict any rights that you may have to use and exploit your User Content. Subject to that,
            span.c0 keek
            span.c6
                | and its licensors exclusively own all rights, title and interest in and to the Service and Content, including all associated intellectual property rights. You acknowledge the Service and Content are protected by copyright, trademark, and other laws of both Belarussian  and foreign jurisdictions. You agree not to remove, alter or obscure any copyright, trademark or other proprietary rights notices incorporated in or accompanying the Service or Content.
        p.c2.c7
            span.c9
                | The Service may also provide you with access to Content such as text, writings, chat text, comments, photographs, graphics, images etc., which are obtained by
            span.c0 keek
            span.c9  from Publicly available sources.
            span.c0 keek
            span.c6
                | is not responsible or liable for use of such Content from publicly available sources if that use will infringe, misappropriate or violate yours or a third party’s intellectual property rights, rights of publicity or privacy, or result in the violation of any applicable law.  If you believe that any Content from publicly available sources infringes your intellectual property rights or copyright, please, contact us pursuant to the procedure described in the provision Copyright stated below.
        p.c2.c7
            span.c6
                | By making any User Content available via Service you hereby grant us a non-exclusive, transferable, perpetual, royalty-free, sub-licensable, worldwide license to use, copy, reproduce, translate, modify, create derivative works based upon, distribute, publicly display, publicly perform and distribute your User Content in connection with operating and providing the Service and Content to you and to other holders of an Account.
        p.c2.c7
            span.c6
                | You are solely responsible for all your User Content. You represent and warrant that you own all your User Content or you have all rights that are necessary to grant us the license rights in your User Content under these Terms. You also represent and warrant that neither your User Content, nor your use and provision of your User Content to be made available via the Service, nor any use of your User Content by us on or through the Service will infringe, misappropriate or violate a third party’s intellectual property rights, rights of publicity or privacy, or result in the violation of any applicable law. We are not responsible or liable for the removal or deletion of (or the failure to remove or delete) any of your User Content.
        p.c2.c7
            span.c9
                | Other than your Content, you represent and warrant that you will not to encumber, license, modify, publish, copy, sell, transfer, transmit or in any way exploit, the Service (in part or in whole), except as expressly permitted in writing by
            span.c0 keek
            span.c6 .
        p.c2.c7
            span.c6
                | Subject to your compliance with these Terms, we grant you a limited, non-exclusive, non- transferable, non-sublicensable license to view, download, install, display, copy and print the Content only regarding your permitted use of the Service and only for your personal, non-commercial aims.
        p.c2.c7
            span.c9 You also understand, warrant and agree that
            span.c0 keek
            span.c6
                | , in performing the required technical steps to provide the Service to users, may need to modify your User Content to conform and adapt such Content to the technical requirements of connection networks, media, services and devices, and the licenses granted by you include the rights to do so.
        p.c2.c5
            span.c6
        p.c4
            span.c10.c3 Copyright
        p.c2.c7
            span.c9
                | We respect intellectual property rights of others and expect from others to do the same.
            span.c0 keek
            span.c6
                | reserve the right to remove or disable Content alleged to be infringing of a copyright or other intellectual property and to terminate the accounts of repeat alleged infringers in appropriate circumstances.
        p.c2
            span.c6
                | If you or your agents believe that your Content has been copied in a way that constitutes infringement of a copyright or other intellectual property, please send us the following information:
        p.c2
            span.c6
                | (a) a physical or electronic signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;
        p.c2
            span.c6
                | (b) a description of the copyrighted work or other intellectual property that you claim has been infringed;
        p.c2
            span.c6
                | (c) a description of where the material that you claim is infringing is located on the services;
        p.c2
            span.c6 (d) your contact information, including name, address, phone number and email;
        p.c2
            span.c6
                | (e) a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
        p.c2
            span.c6
                | (f) a statement by you, made under penalty of perjury, that the foregoing information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner’s behalf.
        p.c2
            span.c6
                | If you or your agents believe that part of Content was deleted or access to which was disabled as a result of a notice of infringement and that the content is not infringing, or that you have the authorization from the copyright owner, its agent, or pursuant to the law, to post and use the content on the services, you may send us a counter-notice containing the following information:
        p.c2
            span.c6 1. your physical or electronic signature;
        p.c2
            span.c6
                | 2. identification of the Content that has been removed (or to which access was disabled) and the location at which the content appeared before it was removed or disabled;
        p.c2
            span.c6
                | 3. statement that you have a good faith belief that the Content was removed or disabled as a result of mistake or a misidentification of the Content;
        p.c2
            span.c6 4. your contact information, including name, address, phone number and e-mail;
        p.c2
            span.c6
                | 5. a statement by you that you will accept service of process from the person who provided notification of the alleged infringement.
        p.c2
            span.c6
                | If we received the counter-notice, we may send its copy to the original complaining party informing that person that it may replace the removed content or cease disabling it in 10 (ten) business days. Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed content may be replaced, or access to it restored, in 10-14 business days (or more) after receipt of the counter-notice. Replacement or restoration of access to the content is in our sole discretion.
        p.c2
            span.c9
                | We pay your attention that any misrepresentation of any material fact in any notice above may automatically subject you to liability for any related damages, costs and attorney fees incurred by
            span.c0 keek.
            span.c6  
        p.c2.c8
            span.c6
        p.c2
            span.c9 Please send us all notices an email notification to 
            span.c0 copyright@keekapp.com.
            span.c6
                | You may include an attachment if you like, but please also include a plain-text version of your letter in the body of your message.
        p.c2
            span.c6
                | If you must send your notice by physical mail, you can also do that, but it will take  substantially longer for us to receive and respond to it and the 10-14 business days waiting period starts from the date when we receive your notice. Notices we received via plain-text email have a much faster turnaround than PDF attachments or physical mail. If you still wish to mail us your notice, our physical address is:
        p.c2.c8
            span.c6
        p.c2
            span.c6.c15 LOGIC WAY TECHNOLOGIES LP
        p.c2(id='h.gjdgxs')
            span.c0 Address: Minsk, Belarus, 220034 Chapaeva str. 5
            span.c6 .
        p.c2.c8
            span.c6
        p.c4
            span.c10.c3 Links to Third Parties Resources
        p.c1
            span.c6
                | We do not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party via the Service or any hyperlinked website or featured in any banner or other advertising. We will not be a party to or in any way be responsible for monitoring any transaction between you and third-party providers of products or services.
        p.c1
            span.c0 keek
            span.c9
                | is not responsible for the actions, content, information, or data of third parties, and you release the
            span.c0 keek Parties
            span.c6
                | from any claims and damages, known and unknown, arising out of or in any way connected with any claim you have or may have against any such third parties.
        p.c2
            span.c6
                | We also strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
        p.c2.c8
            span.c6
        p.c4
            span.c3.c10 Termination
        p.c13
            span.c9
                | We may terminate or suspend your Account immediately, without prior notice or liability, at any time and for any reason whatsoever. Upon termination, all licenses and other rights granted to you in these Terms will immediately cease. If you wish to terminate your Account, you may simply discontinue using the Service or even sending us a notification at email:
            span.c0 terminate@keekapp.com.
        p.c13
            span.c6
                | All provisions of these Terms which by their nature should survive will survive any termination of these Terms, your Account or the Service, including, but not limited User Content (including your Content), ownership provisions, feedback, termination, disputes, disclaimers of warranties, limitations of liability, indemnification, governing law and links to third party resources.
        p.c13.c8
            span.c6
        p.c4
            span.c10.c3 Fees
        p.c2.c7
            span.c6
                | While basic access to the Service is currently free, we may require payment of fees for using Service. If you paid Subscription for our Service to access the paid features of the Service, you must pay all applicable fees, as described in the Subscription information listed in connection with such Service selected by you.
        p.c2.c7
            span.c9
                | We may change the fees and/or to institute new at any time, upon notice to you, which may be sent by email or posted on our
            span.c0 website http://keekapp.com
            span.c6
                | . Your use of the Service following such notification constitutes your agreement of new or modified fees.
        p.c13.c8
            span.c6
        p.c4
            span.c10.c3 Disputes 
        p.c1
            span.c6
                | These Terms are governed by and construed in accordance with the Belarussian law without giving effect to any principles of conflicts of law. Application of the United Nations Convention on Contracts for the International Sale of Goods is specifically disclaimed regarding these Terms.
        p.c1
            span.c9 If there is a dispute between users and any third party, you agree that
            span.c0 keek
            span.c9
                | is under no obligation to become involved. In the event that you have a dispute with one or more other users, you release
            span.c0 keek
            span.c6
                | Parties from claims, demands, damages of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and/or Service.
        p.c1.c8
            span.c10.c14
        p.c4
            span.c10.c3 Severability; No Waiver 
        p.c1
            span.c6
                | If any provision of these Terms is found by a court of competent jurisdiction to be invalid or otherwise unenforceable, the parties nevertheless agree that such portion will be deemed severable from these Terms and will not affect the validity and enforceability of the remaining provisions. Other provisions of the Terms remain in full force and effect.
        p.c1
            span.c6
                | Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. No waiver of any term of these Terms will be deemed a further or continuing waiver of such term or condition or any other term or condition.
        p.c1.c8
            span.c6
        p.c4
            span.c10.c3 Service Interruptions and Availability
        p.c1
            span.c9
                | There may be occasions when the Service will be interrupted or unavailable, including, without limitation, for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and/or equipment.
            span.c0 keek
            span.c6  shall have no liability for any such interruptions. 
        p.c1.c8
            span.c6
        p.c4
            span.c10.c3 Disclaimer of Warranties
        p.c1
            span.c6
                | The Service, including, without limitation, Content, is provided on an "as is", "as available" and "with all faults" basis.
        p.c2.c7
            span.c0 keek
            span.c9
                | makes no and hereby specifically disclaims all warranties, express or implied, including, without limitation, those of merchantability, non-infringement, title, custom, trade, system integration, freedom from virus or Trojan, accuracy and fitness for a particular purpose unless such warranties are legally incapable of exclusion.
            span.c0 keek
            span.c6
                | does not warrant, guarantee or make any representations regarding the use, availability or reliability of the Service, unless such warranties are legally incapable of exclusion. The entire risk as to the results and performance of the Service is assumed by you.
        p.c2.c7
            span.c6
                | If you access or use the Service from jurisdictions prohibiting such use, you do so at your own volition and are responsible for compliance with local law. You acknowledge that your use of the Service is at your own risk. Some jurisdictions limit or do not allow the disclaimer of implied or other warranties so the above disclaimer may not apply to you to the extent such jurisdiction’s law is applicable to you and these Terms.
        p.c2.c5
            span.c6
        p.c4
            span.c10.c3 Limitation of Liability
        p.c1
            span.c9 Under no circumstances will the
            span.c0 keek
            span.c9
                | , its affiliates, officers, directors, employees, agents, attorneys, suppliers or licensors be liable to you for any loss or damages of any kind (including, without limitation, for any direct, indirect, economic, exemplary, punitive, special, incidental or consequential losses or damages) that are directly or indirectly related to: 1. the Service; 2. the Content; 3. User Content; 4. your use of, inability to use, or the performance of the Service; 5. any action taken in connection with an investigation by the
            span.c0 keek
            span.c9
                | Parties or law enforcement authorities regarding your or any other party’s use of the Service; 6. any action taken in connection with copyright or other intellectual property rights; 7. any errors or omissions in the Service’s operation; 8. any damage to any user’s computer, mobile device, or other equipment or technology including, without limitation, damage from any security breach or from any virus, bugs, tampering, fraud, error, omission, interruption, defect, delay in operation or transmission, computer line or network failure or any other technical or other malfunction, including, without limitation, damages for lost profits, loss of goodwill, loss of data, work stoppage, accuracy of results, or computer failure or malfunction, even if foreseeable or even if the
            span.c0 keek
            span.c9
                | Parties have been advised of or should have known of the possibility of such damages, whether in an action of contract, negligence, strict liability or tort (including, without limitation, whether caused in whole or in part by negligence, acts of God, telecommunications failure, or theft or destruction of the Service). In no event will the
            span.c0 keek
            span.c9
                | Parties be liable to you or anyone else for loss, damage or injury, including, without limitation, death or personal injury. Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you. In no event will the
            span.c0 keek
            span.c9
                | and its Parties’ total liability to you for all damages, losses or causes or action exceed $100.00 (One hundred U.S. Dollars) or the total amounts paid or payable by you to
            span.c0 keek
            span.c6
                | for the past 3 (three) months of the Service in question. By accessing the Service, you understand that you may be waiving rights with respect to claims that are at this time unknown or unsuspected.
        p.c1.c8
            span.c12
        p.c2.c7
            span.c3                                                                 Indemnification
            span.c16
                br
            span.c9
                | You (and also any third party for whom you operate an account or activity on the Service) agree to defend (at our request), indemnify and hold the
            span.c0 keek
            span.c6
                | Parties harmless from and against any claims, liabilities, damages, losses, and expenses, including without limitation, reasonable attorneys’ fees and costs, arising out of or in any way connected with any of the following (including as a result of your direct activities on the Service or those conducted on your behalf):
        p.c1
            span.c6 - your Content or your access to or use of the Service;
        p.c1
            span.c6 - your breach or alleged breach of these Terms;
        p.c1
            span.c6
                | - your violation of any third-party right, including without limitation, any intellectual property right, publicity, confidentiality, property or privacy right;
        p.c1
            span.c6
                | - your violation of any laws, rules, regulations, codes, statutes, ordinances or orders of any governmental and quasi-governmental authorities, including, without limitation, all regulatory, administrative and legislative authorities or any misrepresentation made by you.
        p.c1
            span.c9 You also agree to cooperate as fully required by
            span.c0 keek
            span.c9  in the defense of any claim.
            span.c0 keek
            span.c6
                | reserves the right to assume the exclusive defense and control of any matter subject to indemnification by you, and you will not in any event settle any claim without the prior written consent from us.
        p.c4.c8
            span.c10.c3
        p.c4
            span.c10.c3 Assignment 
        p.c1
            span.c9
                | You will not assign these Terms or assign any rights or delegate any obligations hereunder, in whole or in part, whether voluntarily or by operation of law, without the prior written consent of us. Any purported assignment or delegation by you without the appropriate prior written consent of
            span.c0 keek
            span.c6
                | will be null and void. We may assign these Terms or any rights hereunder without your consent.
        p.c17
            span.c10.c3 Governing Law
        p.c13
            span.c6
                | These Terms shall be governed and construed in accordance with the Belarussian law, without regard to its conflict of law provisions.
        p.c13
            span.c6
                | Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect.
        p.c13.c8
            span.c6
        p.c4
            span.c3 Entire Agreement
        p.c2.c7
            span.c6
                | These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
        p.c2.c5
            span.c6
        p.c4
            span.c3 Changes to
            span.c3.c15 keek’s
            span.c10.c3  Terms
        p.c1
            span.c0 keek
            span.c9
                | reserves the right, in its sole discretion, to modify or update these Terms ("Updated Terms") from time to time, so please review it periodically. We may notify you of the Updated Terms by posting them on the Service, and your use of the Service after the effective date of the Updated Terms constitutes your agreement to the Updated Terms. The Updated Terms will be effective as of the time of posting, or such later date as may be specified in the Updated Terms, and will apply to your use of the Service from that point forward.
        p.c17
            span.c10.c3 Contact Information
        p.c1
            span.c9
                | If you have any questions or concerns about these Terms or Service, please contact us at email:
            span.c0 info@keekapp.com.
        p.c2.c5
            span.c6
        p.c2.c5
            span.c6
        p.c2.c5
