extends layout

block content
    script.
        var verifyAll = function () {
                var url="/admin/users/verifyAll"
                getApi(url, "", function () {
                    setInterval(function(){location.reload(true)},1000)
                })
        }

    .container-fluid
        #users(style="display: none; ")
            row
                h4 Download users:
                    =' '
                    a(href="/admin/users/download" class="btn btn-info" role="button")
                        span.glyphicon.glyphicon-download-alt
                h4 Download deeplinks:
                    =' '
                    a(href="/admin/deeplinks/download" class="btn btn-info" role="button")
                        span.glyphicon.glyphicon-download-alt
                h4(v-if="verificationStatus!==false") Users verification progress {{verificationStatus}}%
                    progress(max="100" v-bind:value="verificationStatus")
                h4(v-else) Verify users:
                    =' '
                    a(class="btn btn-info" role="button" onclick="verifyAll()")
                        span.glyphicon.glyphicon-check


            table.table.table-bordered(style="width: 100px;")

                colgroup
                    col(v-for="column in columns" v-bind:style="column.color ? {'background-color':column.color} : {}")

                thead
                    tr(style="overflow: hidden")
                        th(v-for="column in columns")
                            a(v-on:click='sortBy(column.id,column.sortable)')
                                | {{ column.name }}
                tbody
                    tr(v-for="user,index in filteredEvents" v-bind:style="getStyle(user.changed)"  )
                        td {{ index+1 }}
                        td {{ optionsFree[user.isFree].text }}
                        td {{ user["count(*)"] }}
            p Check User by Id:
            input(v-model="id"  placeholder="input user id" size="25")
            button.btn.btn-info( style="margin-left: 5px" v-on:click="checkId")  Check
            p Response:
            textarea(v-model="userInfo" , class="form-control", style="min-width: 100%; resize: none", rows=33)


    script(src = "/javascripts/vue.js")
    script.
        var setupUsers = !{JSON.stringify(users)}

        for (var i in setupUsers) {
            setupUsers[i].changed = false;

        }
        new Vue({
            el: '#users',

            data: {
                changedStyle: {
                    "background-color": "#FFFDD0"
                },
                sortKey: 'id',

                reverse: true,
                verificationStatus:!{verificationStatus},
                search: '',

                columns: [
                    {id: '#', name: '#', sortable: false, width: 100},
                    {id: 'isFree', name: 'isFree', sortable: true, width: 40},
                    {id: 'count(*)', name: 'count(*)', sortable: true, width: 100},

                ],

                optionsFree: [
                    {text: 'NonFree', value: 0},
                    {text: 'Free', value: 1}



                ],
                filter: {
                    isActive: false,
                    column: ""
                },
                id:"",
                userInfo:"",
                users: setupUsers,

            },

            methods: {
                sortBy: function (sortKey, sortable) {
                    if (sortable) {
                        this.reverse = (this.sortKey == sortKey) ? !this.reverse : false;

                        this.sortKey = sortKey;
                    }

                },

                filterBy(column, word) {

                    return this.users.filter(function () {
                        if (this[column].indexOf(word) !== -1)
                            return this
                    })

                },


                remove(user){
                    var self = this
                    if (confirm("You are shure to delete user " + user.id)) {
                        postApi('/api/user/remove', JSON.stringify({id: user.id}), function () {
                            var index = findWithAttr(self.users, "id", user.id)
                            self.users.splice(index, index + 1);
                        })
                    }
                },
                changed(user){
                    console.log("changed")
                    user.changed = true
                },
                getStyle(changed){
                    if (changed)return this.changedStyle
                    else return {}
                },
                checkId(){
                    let self = this;
                    postApi('/admin/users/getInfoById', JSON.stringify({id: self.id}), function (data) {

                        self.userInfo =  JSON.stringify(JSON.parse(data),null,"\t");
                    })
                },


            },
            mounted:function(){
                if (this.verificationStatus!==false){
                    setInterval(function(){location.reload(true)},10000)
                }

            },
            computed: {
                filteredEvents() {
                    var sortKey = this.sortKey
                    var reverse = this.reverse
                    var ret = this.users.sort(function (a, b) {
                        if (!reverse) {
                            if (a[sortKey] > b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] < b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        } else {
                            if (a[sortKey] < b[sortKey]) {
                                return 1;
                            }
                            if (a[sortKey] > b[sortKey]) {
                                return -1;
                            }
                            return 0;
                        }
                    });
                    return ret;

                },

            },
        });
        document.getElementById("users").style.display = ""




