html {
}
body {
    font-family: 'Raleway', serif !important;
    font-size: initial;
    background-color: transparent;
    color: #ffffff;
}
#bg {
    background: url(../images/bg.png) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #333333;
}

.img-thumbnail {
    border: none;
    padding: 0px;
}

.panel {
    background-color: transparent;
}

input,textarea {
    background-color: transparent;
    color: #ffe;
    border-width: 1px;
}

.form-control {
    background-color: transparent;
    color: #ffe;
}

.terms-body {
    font-size: .9rem;
}
.nav-light a{
    color: #d3d3d3;
    letter-spacing: 1.5px;
    background-color: transparent;
}
.nav-light a:hover{
    color: #ffffff;
    background-color: transparent;
}
.nav-light a.active{
    color: #ffffff;
    background-color: transparent;
}
.hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.hero-title {
    font-weight: 800;
}
.hero-body {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

