body {
  /*background: url(../images/back.jpg) no-repeat;*/
  background-size: cover;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}
.title {
  display:inline-block;
  margin:0;
  padding:10px;
  font-family: 'Permanent Marker', cursive;
}
h1 { font-size:7em; }
h2 { font-size:3.5em; }
.text-wrap {
  background: rgba(255,255,255,0.3);
  top: 205px;
  left: 50px;
  padding: 30px;
  text-align: center;
  position: absolute;
}

@media (max-width: 767px){
  .text-wrap {
    top: 40%;
    left: 0;
    right: 0;
    width: 65%;
    margin: 0 auto;
  }
  body{
    background-position-x: 73%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  body{
    background-position-x: 50%;
  }
  .text-wrap {
    left: 10px;
  }
  h1 { font-size: 3.5em; }
  h2 { font-size: 2.3em; }
}
@media (min-width: 992px) and (max-width: 1199px){
  body{
    background-position-x: 40%;
  }
  .text-wrap {
    left: 30px;
  }
  h1 { font-size: 5.3em; }
  h2 { font-size: 3em; }
}
@media (min-width: 320px) and (max-width: 413px){
  h1 { font-size: 2em; }
  h2 { font-size: 1.3em; }
  .text-wrap {
    padding: 10px;
  }
}
@media (min-width: 414px) and (max-width: 499px){
  h1 { font-size: 2em; }
  h2 { font-size: 1.2em; }
}
@media (min-width: 500px) and (max-width: 699px){
  h1 { font-size: 2em; }
  h2 { font-size: 1.7em; }
}
@media (min-width: 700px) and (max-width: 767px){
  h1 { font-size: 3em; }
  h2 { font-size: 2.1em; }
}