*{
	padding: 0;
	margin: 0;
	font-family: 'Rubik';
	font-size: 16px;
}

@font-face {
	font-family: 'Rubik';
	src: url(content/wpid-rubik/Rubik-Regular.ttf);
}

@font-face {
	font-family: 'Rubik-Medium';
	src: url(content/wpid-rubik/Rubik-Medium.ttf);
}

a{
	text-decoration: none;
}

html, body{
	height: auto;
	background: linear-gradient(to right, #070828, #071b47, #070828);
}

.main{
	position: relative;
	height: auto;
	padding-top: 67px;
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
}

.main-content{
	position: relative;
	bottom: 0;
	left: 1.5%;
	width: 97%;
	height: 93.47%;
	background-color: #ffffff;
	border-radius: 45px 45px 0 0;
	padding: 7.3% 4.4%;
	padding-top: 0;
	box-sizing: border-box;
}

.main-content>div{
	line-height: 32px;
}

.main-content-header, .main-second-header, .main-third-header{
	font-size: 26px;
}

.main-content-header{
	line-height: 130px !important;
}

.main-third-header{
	line-height: 61px !important;
}

.main-button{
	position: absolute;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Rubik-Medium';
	top:37px;
	right: 37px;
	background-color: #38eb9a;
	padding: 18.5px 44px;
	border-radius: 5px;
	color: #000000;
	cursor: pointer;
	box-shadow: 0 3px 4px #ededed;
}

@media(max-width:768px){
	.main{
		padding-top: 20px;
	}
	.main-button{
		font-size: 14px;
		padding: 10px 15px;
	}
	.main-content-header, .main-second-header, .main-third-header{
		font-size: 22px;
	}
	.main-content-header{
		line-height: 70px !important;
		padding-top: 30px;
	}
}


@media(max-width:500px){
	.main-content{
		padding-top: 20px;
	}
	.main-button{
		position: absolute;
		top:17px;
	}
}





